@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "__master.cshtml";
}
@section HEAD{
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li>Plans</li>
        <li class="active">ActiveSync Plans</li>
    </ol>

    <h1>ActiveSync Plans</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel">
                <a href="~/plans/exchange/activesync/new" class="btn btn-primary btn-lg col-xs-12">Create New</a>
            </div>
            <hr>
            <div class="panel">
                <div class="list-group">
                    @foreach (var plan in CloudPanel.Modules.PlansModules.ActiveSyncPlanModule.GetPlans())
                    {
                        <a href="~/plans/exchange/activesync/@plan.ASID" class="list-group-item"><i class="fa fa-mobile"></i> @plan.DisplayName <span class="badge badge-inverse">@plan.CompanyCode</span></a>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <form id="form" action="" method="post" data-parsley-validate>
                <div id="blockui" class="panel panel-primary">
                    <div class="panel-heading">
                        ActiveSync Plans
                        <div class="options">
                            <a href="javascript:GetPolicies();"><i class="fa fa-refresh"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="domtabs">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tab-container tab-danger">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#G">General</a></li>
                                                <li><a data-toggle="tab" href="#P">Password</a></li>
                                                <li><a data-toggle="tab" href="#SS">Sync Settings</a></li>
                                                <li><a data-toggle="tab" href="#D">Device</a></li>
                                                <li><a data-toggle="tab" href="#DA">Device Applications</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="G" class="tab-pane active">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Display Name</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="DisplayName" name="DisplayName" value="@Model.Plan.DisplayName" data-parsley-required="true">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="Enter the display name of the Activesync plan. This name must be unique." class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Description</label>
                                                            <div class="col-sm-6">
                                                                <textarea id="Description" name="Description" rows="2" cols="20" class="form-control" data-parsley-required="true">@Model.Plan.Description</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow non-provisionable devices</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowNonProvisionableDevices" name="AllowNonProvisionableDevices" @(Model.Plan.AllowNonProvisionableDevices == true ? "value='true' checked" : "value='false'")>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                                <div class="col-sm-3">
                                                                    <p class="help-block">
                                                                        <span data-toggle="tooltip" data-original-title="Enables all mobile phones to synchronize with the Exchange server, regardless of whether the phone can enforce all the specific settings established in the Mobile Device mailbox policy. This also includes mobile phones managed by a separate device management system." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Refresh Interval in Hours</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="RefreshIntervalInHours" name="RefreshIntervalInHours" value="@Model.Plan.RefreshIntervalInHours" data-parsley-required="true" data-parsley-type="number">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="This setting specifies how often the mobile device mailbox policy is sent from the server to the mobile device. Put a zero for unlimited" class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="P" class="tab-pane">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Require Password</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="RequirePassword" name="RequirePassword" @(Model.Plan.RequirePassword == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="If you want to require a password on the device." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group IfRequirePassword">
                                                            <label class="col-sm-3 control-label">Require Alphanumeric Password</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="RequireAlphanumericPassword" name="RequireAlphanumericPassword" @(Model.Plan.RequireAlphanumericPassword == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="If you want to require a certain number of alpha numeric characters in their password." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group IfRequirePassword">
                                                            <label class="col-sm-3 control-label">Enable password recovery</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="EnablePasswordRecovery" name="EnablePasswordRecovery" @(Model.Plan.EnablePasswordRecovery == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="When this setting is enabled, the mobile device generates a recovery password that's sent to the server. If the user forgets their mobile device password, the recovery password can be used to unlock the mobile device and enable the user to create a new mobile device password." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group IfRequirePassword">
                                                            <label class="col-sm-3 control-label">Require Encryption on Device</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="RequireEncryptionOnDevice" name="RequireEncryptionOnDevice" @(Model.Plan.RequireEncryptionOnDevice == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="This setting specifies whether device encryption is required. If checked, the mobile device must be able to support and implement encryption to synchronize with the server." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group IfRequirePassword">
                                                            <label class="col-sm-3 control-label">Require Encryption on Storage Card</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="RequireEncryptionOnStorageCard" name="RequireEncryptionOnStorageCard" @(Model.Plan.RequireEncryptionOnStorageCard == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="This setting specifies whether the storage card must be encrypted. Not all mobile device operating systems support storage card encryption. For more information, see your mobile device and mobile operating system documentation." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group IfRequirePassword">
                                                            <label class="col-sm-3 control-label">Allow simple password</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowSimplePassword" name="AllowSimplePassword" @(Model.Plan.AllowSimplePassword == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="This setting enables or disables the ability to use a simple password such as 1111 or 1234. The default value is checked" class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group IfRequirePassword">
                                                            <label class="col-sm-3 control-label">Minimum number of character sets</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="MinDevicePasswordComplexCharacters" name="MinDevicePasswordComplexCharacters" value="@Model.Plan.MinDevicePasswordComplexCharacters" data-parsley-required="true" data-parsley-type="number">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="Use this text box to specify the complexity of the alphanumeric password and force users to use a number of different sets of characters from among the following: lowercase letters, uppercase letters, symbols, and numbers." class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group IfRequirePassword">
                                                            <label class="col-sm-3 control-label">Number of failed attempts allowed</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="NumberOfFailedAttempted" name="NumberOfFailedAttempted" value="@Model.Plan.NumberOfFailedAttempted" data-parsley-type="number">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="This setting specifies the number of attempts a user can make to enter the correct password for the mobile device. You can enter any number from 4 through 16. Leave blank to not set a limit." class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group IfRequirePassword">
                                                            <label class="col-sm-3 control-label">Minimum password length</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="MinimumPasswordLength" name="MinimumPasswordLength" value="@Model.Plan.MinimumPasswordLength" data-parsley-type="number">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="This setting specifies the minimum number of characters in the mobile device password. You can enter any number from 1 through 16. Leave blank to not set a minimum." class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group IfRequirePassword">
                                                            <label class="col-sm-3 control-label">Inactivity Timeout (Minutes)</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="InactivityTimeoutInMinutes" name="InactivityTimeoutInMinutes" value="@Model.Plan.InactivityTimeoutInMinutes" data-parsley-type="number">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="This value specifies the length of time that the mobile device can be inactive before a password is required to reactivate it. You can enter any interval between 30 seconds and 1 hour. Leave blank to not set a timeout." class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group IfRequirePassword">
                                                            <label class="col-sm-3 control-label">Password expiration (Days)</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="PasswordExpirationInDays" name="PasswordExpirationInDays" value="@Model.Plan.PasswordExpirationInDays" data-parsley-type="number">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="This setting enables the administrator to configure a length of time after which a mobile device password must be changed. Leave blank to not set a password expiration" class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group IfRequirePassword">
                                                            <label class="col-sm-3 control-label">Enforce password history</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="EnforcePasswordHistory" name="EnforcePasswordHistory" value="@Model.Plan.EnforcePasswordHistory" data-parsley-required="true" data-parsley-type="number">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="This setting specifies the number of past passwords that can be stored in a user's mailbox. A user can't reuse a stored password. Put a zero to not keep a password history." class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="SS" class="tab-pane">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Include past calendar items</label>
                                                            <div class="col-sm-6">
                                                                <select id="IncludePastCalendarItems" name="IncludePastCalendarItems" class="form-control">
                                                                    <option value="All" @(Model.Plan.IncludePastCalendarItems == "All" ? "selected" : "")>All</option>
                                                                    <option value="TwoWeeks" @(Model.Plan.IncludePastCalendarItems == "TwoWeeks" ? "selected" : "")>Two Weeks</option>
                                                                    <option value="OneMonth" @(Model.Plan.IncludePastCalendarItems == "OneMonth" ? "selected" : "")>One Month</option>
                                                                    <option value="ThreeMonths" @(Model.Plan.IncludePastCalendarItems == "ThreeMonths" ? "selected" : "")>Three Months</option>
                                                                    <option value="SixMonths" @(Model.Plan.IncludePastCalendarItems == "SixMonths" ? "selected" : "")>Six Months</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="The include past calendar items parameter specifies the maximum range of calendar days that can be synchronized to the device." class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Include past email items</label>
                                                            <div class="col-sm-6">
                                                                <select id="IncludePastEmailItems" name="IncludePastEmailItems" class="form-control">
                                                                    <option value="All" @(Model.Plan.IncludePastEmailItems == "All" ? "selected" : "")>All</option>
                                                                    <option value="OneDay" @(Model.Plan.IncludePastEmailItems == "OneDay" ? "selected" : "")>One Day</option>
                                                                    <option value="ThreeDays" @(Model.Plan.IncludePastEmailItems == "ThreeDays" ? "selected" : "")>Three Days</option>
                                                                    <option value="OneWeek" @(Model.Plan.IncludePastEmailItems == "OneWeek" ? "selected" : "")>One Week</option>
                                                                    <option value="TwoWeeks" @(Model.Plan.IncludePastEmailItems == "TwoWeeks" ? "selected" : "")>Two Weeks</option>
                                                                    <option value="OneMonth" @(Model.Plan.IncludePastEmailItems == "OneMonth" ? "selected" : "")>One Month</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="The include past e-mail items parameter specifies the maximum number of days of e-mail items to synchronize to the device." class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Limit email size (KB)</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="LimitEmailSizeInKB" name="LimitEmailSizeInKB" value="@Model.Plan.LimitEmailSizeInKB" data-parsley-type="number">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="The limit e-mail size parameter specifies the maximum size at which e-mail messages are truncated when synchronized to the device. The value is specified in kilobytes" class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Maximum attachment size (KB)</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="MaximumAttachmentSizeInKB" name="MaximumAttachmentSizeInKB" value="@Model.Plan.MaximumAttachmentSizeInKB" data-parsley-type="number">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="The MaxAttachmentSize parameter specifies the maximum size of attachments that can be downloaded to the mobile phone. Leave blank for unlimited size." class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Require Manual Sync When Roaming</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowDirectPushWhenRoaming" name="AllowDirectPushWhenRoaming" @(Model.Plan.AllowDirectPushWhenRoaming == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="Specifies whether the device is required to manually sync while roaming. The default value is not checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow HTML formatted email</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowHTMLEmail" name="AllowHTMLEmail" @(Model.Plan.AllowHTMLEmail == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="The AllowHTMLEmail parameter specifies whether HTML e-mail is enabled on the device. The default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow attachments to be downloaded to device</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowAttachmentsDownload" name="AllowAttachmentsDownload" @(Model.Plan.AllowAttachmentsDownload == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="The AttachmentsEnabled parameter specifies whether the user can download attachments. When set to $false, the user is blocked from downloading attachments. The default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="D" class="tab-pane">
                                                    <p>The ability to modify policies on this tab is a premium Exchange ActiveSync feature that requires an Exchange Enterprise Client Access License for each mailbox policies are restricted on.</p>
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow removable storage</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowRemovableStorage" name="AllowRemovableStorage" @(Model.Plan.AllowRemovableStorage == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="The allow removable storage parameter specifies whether the device can access information stored on a storage card. Default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow camera</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowCamera" name="AllowCamera" @(Model.Plan.AllowCamera == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="If you want to allow the device to use the built-in camera. Default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow Wi-Fi</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowWiFi" name="AllowWiFi" @(Model.Plan.AllowWiFi == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="If you want the device to use Wi-Fi. Default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow infrared</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowInfrared" name="AllowInfrared" @(Model.Plan.AllowInfrared == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="If you want to allow the device to use infrared connections. Default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow internet sharing from device</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowInternetSharing" name="AllowInternetSharing" @(Model.Plan.AllowInternetSharing == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="If you want the device to be able to share it's internet connection with other devices. Default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow remote desktop from device</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowRemoteDesktop" name="AllowRemoteDesktop" @(Model.Plan.AllowRemoteDesktop == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="If you want the device to be able use to remote desktop connections. Default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow desktop synchronization</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowDesktopSync" name="AllowDesktopSync" @(Model.Plan.AllowDesktopSync == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="If you want the device to be able to sync with the desktop. Default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow text messaging</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowTextMessaging" name="AllowTextMessaging" @(Model.Plan.AllowTextMessaging == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="If you want the device to be able to access text messaging. Default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow Bluetooth</label>
                                                            <div class="col-sm-6">
                                                                <select id="AllowBluetooth" name="AllowBluetooth" class="form-control">
                                                                    <option value="Allow" @(Model.Plan.AllowBluetooth == "Allow" ? "selected" : "")>Allow</option>
                                                                    <option value="Handsfree" @(Model.Plan.AllowBluetooth == "Handsfree" ? "selected" : "")>Handsfree Only</option>
                                                                    <option value="Disable" @(Model.Plan.AllowBluetooth == "Disable" ? "selected" : "")>Disable</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="If you want to allow the device to use bluetooth. Default value is Allow." class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="DA" class="tab-pane">
                                                    <p>The ability to modify policies on this tab is a premium Exchange ActiveSync feature that requires an Exchange Enterprise Client Access License for each mailbox policies are restricted on.</p>
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow Browser</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowBrowser" name="AllowBrowser" @(Model.Plan.AllowBrowser == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="This setting specifies whether Pocket Internet Explorer is allowed on the mobile phone. This setting doesn't affect third-party browsers installed on the phone. The Exchange Enterprise Client Access License is required to change the values of this setting." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow Consumer Mail</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowConsumerMail" name="AllowConsumerMail" @(Model.Plan.AllowConsumerMail == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="If you want the mobile device to be able to configure personal email accounts on this device. Default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow unsigned applications</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowUnsignedApplications" name="AllowUnsignedApplications" @(Model.Plan.AllowUnsignedApplications == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="The allow unsigned applications parameter specifies whether unsigned applications can be installed on the device. Default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Allow unsigned installation packages</label>
                                                            <div class="col-sm-6">
                                                                <div class="checkbox">
                                                                    <label style="display: block">
                                                                        <input type="checkbox" id="AllowUnsignedInstallationPackages" name="AllowUnsignedInstallationPackages" @(Model.Plan.AllowUnsignedInstallationPackages == true ? "value='true' checked" : "value='false'")>
                                                                        <span data-toggle="tooltip" data-original-title="The allow unsigned installation packages parameter specifies whether unsigned installation packages can be run on the device. Default value is checked." class="tooltip-ex">
                                                                            <i class="fa fa-question-circle"></i>
                                                                        </span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="btn-toolbar text-right">
                            <button class="btn-default btn" type="button" onclick="javascript: history.back()">Cancel</button>
                            <button id="submit" name="submit" class="btn-primary btn" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section JAVASCRIPT{
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/form-parsley-new/extra/validator/comparison.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type=checkbox]").click(function () {
                if ($(this).is(':checked')) {
                    $(this).val("true");
                } else {
                    $(this).val("false");
                }
            });

            if ($('#RequirePassword').is(':checked')) {
                $(".IfRequirePassword").css('visibility', 'visible');
            } else {
                $(".IfRequirePassword").css('visibility', 'hidden');
            }

            $('#RequirePassword').change(function () {
                if ($(this).is(":checked")) {
                    $(".IfRequirePassword").css('visibility', 'visible');
                } else {
                    $(".IfRequirePassword").css('visibility', 'hidden');
                }
            });
        });

        function GetPolicies()
        {
            $("#form").block();
            $.getJSON("@ResolveUrl("~/plans/exchange/activesync/all")", function (data) { 
                ShowSuccess("Successfully retrieved plans from Exchange");
            })
            .fail(function (data) {
                ShowError(data);
            })
            .always(function (data) {
                $("#form").unblock();
            });
        }
    </script>
}