@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "__master.cshtml";
}
@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li class="active">Mailbox Plans</li>
    </ol>

    <h1>Mailbox Plans</h1>
</div>

<div class="container">
    <div class="row">
        <form id="form" action="" method="post" data-parsley-validate>
            <div class="col-md-3">
                <div class="panel">
                    <a href="~/plans/exchange/mailbox/new" class="btn btn-primary btn-lg col-xs-12">Create New</a>
                </div>
                <hr>
                <div class="panel">
                    <div class="list-group">
                        @foreach (var plan in CloudPanel.Modules.PlansModules.MailboxPlanModule.GetMailboxPlans(""))
                        {
                            <a href="~/plans/exchange/mailbox/@plan.MailboxPlanID" class="list-group-item"><i class="fa fa-mail-forward"></i> @plan.MailboxPlanName <span class="badge badge-inverse">@plan.CompanyCode</span></a>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">Modify Plan</div>
                    <div class="panel-body form-horizontal row-border">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="MailboxPlanName" name="MailboxPlanName" value="@Model.selectedPlan.MailboxPlanName" data-parsley-required="true">
                            </div>
                            <div class="col-sm-1">
                                <p class="help-block">
                                    <span data-toggle="tooltip" data-original-title="Enter the name of the plan. This will be visible to company's that have access to this plan.'" class="tooltip-ex">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-6">
                                <textarea id="MailboxPlanDesc" name="MailboxPlanDesc" rows="2" cols="20" class="form-control" data-parsley-required="true">@Model.selectedPlan.MailboxPlanDesc</textarea>
                            </div>
                            <div class="col-sm-1">
                                <p class="help-block">
                                    <span data-toggle="tooltip" data-original-title="Enter the description of this plan. This will be visible to the company's that have access''" class="tooltip-ex">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Max Recipients</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="MaxRecipients" name="MaxRecipients" value="@Model.selectedPlan.MaxRecipients" data-parsley-required="true" data-parsley-type="integer">
                            </div>
                            <div class="col-sm-1">
                                <p class="help-block">
                                    <span data-toggle="tooltip" data-original-title="Maximum number of recipients per message to which the mailbox can send'" class="tooltip-ex">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" id="cbMaxRecipients" name="cbMaxRecipients" value="@(Model.selectedPlan.MaxRecipients == 0 ? "true" : "false")" class="cbUnlimited"> Unlimited
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Keep Deleted Items</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="MaxKeepDeletedItems" name="MaxKeepDeletedItems" value="@Model.selectedPlan.MaxKeepDeletedItems" data-parsley-required="true" data-parsley-type="integer">
                            </div>
                            <div class="col-sm-1">
                                <p class="help-block">
                                    <span data-toggle="tooltip" data-original-title="How long in days to keep deleted items.'" class="tooltip-ex">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Mailbox Size in Megabytes</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="MailboxSizeMB" name="MailboxSizeMB" value="@Model.selectedPlan.MailboxSizeMB" data-parsley-required="true" data-parsley-type="integer">
                            </div>
                            <div class="col-sm-1">
                                <p class="help-block">
                                    <span data-toggle="tooltip" data-original-title="Size of mailbox in megabytes. 1024 equals 1MB" class="tooltip-ex">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" id="cbMailboxSizeMB" name="cbMailboxSizeMB" value="@(Model.selectedPlan.MailboxSizeMB == 0 ? "true" : "false")" class="cbUnlimited"> Unlimited
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Max Mailbox Size in Megabytes</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="MaxMailboxSizeMB" name="MaxMailboxSizeMB" value="@Model.selectedPlan.MaxMailboxSizeMB" data-parsley-type="integer" />
                            </div>
                            <div class="col-sm-1">
                                <p class="help-block">
                                    <span data-toggle="tooltip" data-original-title="CloudPanel has the ability to adjust the users mailbox size without changing the plan. Set this value to the maximum size in MB the mailbox can grow. Each gigabyte added will add the price in the additional GB price field below." class="tooltip-ex">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Max Send Size</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="MaxSendKB" name="MaxSendKB" value="@Model.selectedPlan.MaxSendKB" data-parsley-required="true" data-parsley-type="integer">
                            </div>
                            <div class="col-sm-1">
                                <p class="help-block">
                                    <span data-toggle="tooltip" data-original-title="Max size in kilobytes that a mailbox can send." class="tooltip-ex">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" id="cbMaxSendKB" name="cbMaxSendKB" value="@(Model.selectedPlan.MaxSendKB == 0 ? "true" : "false")" class="cbUnlimited"> Unlimited
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Max Receive Size</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="MaxReceiveKB" name="MaxReceiveKB" value="@Model.selectedPlan.MaxReceiveKB" data-parsley-required="true" data-parsley-type="integer">
                            </div>
                            <div class="col-sm-1">
                                <p class="help-block">
                                    <span data-toggle="tooltip" data-original-title="Max size in kilobytes that a mailbox can receive." class="tooltip-ex">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-2">
                                <input type="checkbox" id="cbMaxReceiveKB" name="cbMaxReceiveKB" value="@(Model.selectedPlan.MaxReceiveKB == 0 ? "true" : "false")" class="cbUnlimited"> Unlimited
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Features</label>
                            <div class="col-sm-6">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="EnablePOP3" name="EnablePOP3" value="@(Model.selectedPlan.EnablePOP3 == true ? "true" : "false")" data-parsley-excluded> POP3
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="EnableIMAP" name="EnableIMAP" value="@(Model.selectedPlan.EnableIMAP == true ? "true" : "false")" data-parsley-excluded> IMAP
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="EnableOWA" name="EnableOWA" value="@(Model.selectedPlan.EnableOWA == true ? "true" : "false")" data-parsley-excluded> OWA
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="EnableMAPI" name="EnableMAPI" value="@(Model.selectedPlan.EnableMAPI == true ? "true" : "false")" data-parsley-excluded> MAPI
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="EnableAS" name="EnableAS" value="@(Model.selectedPlan.EnableAS == true ? "true" : "false")" data-parsley-excluded> Activesync
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="EnableECP" name="EnableECP" value="@(Model.selectedPlan.EnableECP == true ? "true" : "false")" data-parsley-excluded> ECP
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cost per Mailbox</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="Cost" name="Cost" value="@Model.selectedPlan.Cost" data-parsley-required="true" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'">
                            </div>
                            <div class="col-sm-3">
                                <p class="help-block">
                                    <span data-toggle="tooltip" data-original-title="Enter how much this plan cost you (the hoster) for each user that has this plan.'" class="tooltip-ex">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Price per Mailbox</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="Price" name="Price" value="@Model.selectedPlan.Price" data-parsley-required="true" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'">
                            </div>
                            <div class="col-sm-3">
                                <p class="help-block">
                                    <span data-toggle="tooltip" data-original-title="Enter how much you want to charge the customer for each user that has this plan. Keep in mind you can override this setting on a per company basis." class="tooltip-ex">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Price per additional gigabyte</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="AdditionalGBPrice" name="AdditionalGBPrice" value="@Model.selectedPlan.AdditionalGBPrice" data-parsley-required="true" data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'prefix': '$ ', 'placeholder': '0'">
                            </div>
                            <div class="col-sm-3">
                                <p class="help-block">
                                    <span data-toggle="tooltip" data-original-title="If the max mailbox size for this plan is set higher than the default mailbox size then you can charge extra per additional gigabyte that the user is using" class="tooltip-ex">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Company</label>
                            <div class="col-sm-6">
                                @CloudPanel.CPHtmlHelpers.GetCompanies(Model.selectedPlan.CompanyCode, "<option value='0'> --- None --- </option>")
                            </div>
                            <div class="col-sm-3">
                                <p class="help-block">
                                    <span data-toggle="tooltip" data-original-title="If you want only one company to be able to access and use this mailbox plan then you can set it here." class="tooltip-ex">
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-toolbar text-right">
                                @if (Model.selectedPlan.MailboxPlanID > 0)
                                {
                                    <button type="button" class="btn-danger btn" data-toggle="modal" data-target="#deleteModal" data-id="@Model.selectedPlan.MailboxPlanID" onclick="javascript: DeletePlan(this);">Delete</button>
                                }
                                <button class="btn-primary btn" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<form id="deletePlan" action="" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Delete Plan?</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this plan?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section JAVASCRIPT{
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/form-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#MailboxPlanID").change(function () {
                var value = this.value;
                if (value == "0")
                    window.location.href = '@Url.Content("~/plans/exchange/mailbox/new")';
                else
                    window.location.href = '@Url.Content("~/plans/exchange/mailbox/")' + value;
            });

            $(".cbUnlimited").click(function () {
                if ($(this).is(':checked')) {
                    $(this).parent().parent().find('input[type=text]').prop('disabled', true);
                } else {
                    $(this).parent().parent().find('input[type=text]').prop('disabled', false);
                }
            });

            CheckCheckboxes();

            $(":input").inputmask();
        });

        function DeletePlan(element) {
            var id = $(this).data("id");
            $("#deleteForm").attr("action", "@Url.Content("~/plans/mailbox/")" + id);
        }

        function CheckCheckboxes() {
            $("input[type=checkbox]").each(function () {
                var checkbox = $(this);
                if (checkbox.val() == "true") {
                    checkbox.prop('checked', true);

                    if (checkbox.hasClass('cbUnlimited')) {
                        checkbox.parent().parent().find('input[type=text]').prop('disabled', true);
                    }
                }
            });
        }
    </script>
}