@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "Reports/_reportmaster.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Companies</h4>
                </div>
                <div class="panel-body">
                    <div id="accordioninpanel" class="accordion-group">
                        @foreach (var company in Model)
                        {
                            <div class="accordion-item">
                                <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninpanel" href="#collapse_@company.CompanyCode"><h4>@company.CompanyName</h4></a>
                                <div id="collapse_@company.CompanyCode" class="collapse" style="height: 0px;">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <dl class="dl-horizontal">
                                                    <dt>Total Users</dt>
                                                    <dd>@company.TotalUsers</dd>
                                                    <dt>Total Mailboxes</dt>
                                                    <dd>@company.TotalMailboxes</dd>
                                                    <dt>Total Archive Mailboxes</dt>
                                                    <dd>@company.TotalArchiveMailboxes</dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="contextual-progress">
                                                    <div class="clearfix">
                                                        <div class="progress-title">Mailbox Usage</div>
                                                        <div class="progress-percentage">@CloudPanel.CPStaticHelpers.FormatBytes(company.TotalMailboxSizeUsed) / @CloudPanel.CPStaticHelpers.FormatBytes(company.TotalMailboxSizeAllocated)</div>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-info" style="width: @( (company.TotalMailboxSizeUsed > 0 && company.TotalMailboxSizeAllocated > 0) ? (company.TotalMailboxSizeUsed * 100 / company.TotalMailboxSizeAllocated) : 0)%"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JAVASCRIPT {
    <script src="~/Content/plugins/charts-flot/jquery.flot.min.js"></script>
    <script src="~/Content/plugins/charts-flot/jquery.flot.orderBars.min.js"></script>
    <script src="~/Content/plugins/charts-flot/jquery.flot.pie.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}