@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel

@{
    Layout = "__master.cshtml";
    var companyCode = this.RenderContext.Context.GetCompanyCode();
    var isUnderLimit = CloudPanel.CPStaticHelpers.IsUnderLimit(companyCode, "mailbox");
}

@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-select2/select2.css" rel="stylesheet" />
    <link href="~/Content/js/jqueryui.min.css" rel="stylesheet" />
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/company/@companyCode/overview">@this.RenderContext.Context.GetCompanyName()</a></li>
        <li>Exchange</li>
        <li class="active">Bulk Modify</li>
    </ol>

    <h1>Bulk Edit</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Bulk</div>
                <div class="panel-body">
                    <form action="" method="post" id="basicwizard" class="form-horizontal">
                        <fieldset title="Choose Users">
                            <legend>Choose users to modify</legend>
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped datatables" id="dataTable">
                                <thead>
                                    <tr>
                                        <th align="center" width="10px"><input id="SelectAll" type="checkbox" onclick="javascript: CheckboxCol(this);" /></th>
                                        <th>Display Name</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Username</th>
                                        <th>Has Mailbox?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in CloudPanel.Modules.UsersModule.GetUsers(companyCode))
                                    {
                                        <tr>
                                            <td align="center" class="selector"><input name="CheckedUsers" type="checkbox" value="@user.UserGuid"/></td>
                                            <td>@user.DisplayName</td>
                                            <td>@user.Firstname</td>
                                            <td>@user.Lastname</td>
                                            <td>@user.UserPrincipalName</td>
                                            <td>@(user.MailboxPlan > 0 ? "True" : "False")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset title="Choose Action">
                            <legend>Choose the action to take</legend>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Choose the action you wish to take:</label>
                                    <div class="col-sm-6">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="ActionToTake" id="ActionToTake" value="0" onclick="javascript: ShowEnable();" checked>
                                                Choose a plan, size, and enable all the mailboxes you have selected
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="ActionToTake" id="ActionToTake" value="2" onclick="javascript: ShowChange();">
                                                Change the plan, size, features for all the mailboxes you have selected
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="ActionToTake" id="ActionToTake" value="1" onclick="javascript: ShowDisable();">
                                                Disable all the mailboxes you have selected. This will remove their mailbox data and it may or may not be recoverable.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset title="Set Values">
                            <legend>Set the values for the action</legend>
                            <div class="row">
                                <div class="form-horizontal">

                                    <div id="Enable">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Plan</label>
                                            <div class="col-sm-6">
                                                @CloudPanel.CPHtmlHelpers.GetMailboxPlans(0, companyCode, "", "MailboxPlan")
                                                <p id="mailboxPlanDescription"></p>
                                            </div>
                                        </div>
                                        <div id="sliderDiv" class="form-group">
                                            <label class="col-sm-3 control-label">Size</label>
                                            <div class="col-sm-5" style="padding-top: 13px">
                                                <div id="slider-range-min" class="slider bg-yellow"></div>
                                            </div>
                                            <div class="col-sm-1">
                                                <p class="help-block">
                                                    <div class="slider-value">
                                                        <span class="slider-value" id="slider-range-min-amount"></span>
                                                        <input id="SizeInMB" name="SizeInMB" type="hidden" />
                                                    </div>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <h4>Choose a format for the email addresses. See example below:</h4>
                                                <p>Example User: John Doe</p>
                                                <p>Example Domain: domain.com </p>
                                                <p>Example Login: jdoe@domain.com</p>
                                                <hr />
                                                <div class="radio">
                                                    <label><input type="radio" name="EmailFormat" id="EmailFormat" value="0" checked> Username: jdoe@domain.com</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="EmailFormat" id="EmailFormat" value="1"> Firstname: john@domain.com</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="EmailFormat" id="EmailFormat" value="2"> Lastname: doe@domain.com</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="EmailFormat" id="EmailFormat" value="3"> Firstname.Lastname: John.Doe@domain.com</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="EmailFormat" id="EmailFormat" value="4"> FirstnameLastname: JohnDoe@domain.com</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="EmailFormat" id="EmailFormat" value="5"> Lastname.Firstname: Doe.John@domain.com</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="EmailFormat" id="EmailFormat" value="6"> LastnameFirstname: DoeJohn@domain.com</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="EmailFormat" id="EmailFormat" value="7"> FirstInitialLastname: jdoe@domain.com</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input type="radio" name="EmailFormat" id="EmailFormat" value="8"> LastnameFirstInitial: DoeJ@domain.com</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Domain</label>
                                            <div class="col-sm-6">
                                                <select id="EmailDomain" name="EmailDomain" class="form-control">
                                                    @CloudPanel.Modules.DomainsModule.GetAcceptedDomainsOptions(companyCode, 0)
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">ActiveSync Plan</label>
                                            <div class="col-sm-6">
                                                <select id="ActiveSyncPlan" name="ActiveSyncPlan" style="width: 100%" class="form-control">
                                                    <option value="0">Default</option>
                                                    @CloudPanel.Modules.CompanyModules.Exchange.ActiveSyncModule.GetAllPlansWithOptions(companyCode, null)
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="Change" style="display: none">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Litgation Hold</label>
                                            <div class="col-sm-6">
                                                <label class="checkbox-inline">
                                                    <input id="LitigationHoldEnabled" name="LitigationHoldEnabled" type="checkbox" value="false" class="checkbox-boolean" /> Litigation Hold Enabled
                                                </label>
                                            </div>
                                            <div class="col-sm-3">
                                                <input id="cbChangeLitigationHold" name="cbChangeLitigationHold" type="checkbox" value="false" class="checkbox-boolean" /> Update changes
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Litigation Hold URL</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="RetentionUrl" name="RetentionUrl" data-parsley-type="url">
                                            </div>
                                            <div class="col-sm-3">
                                                <input id="cbChangeLitigationHoldUrl" name="cbChangeLitigationHoldUrl" type="checkbox" value="false" class="checkbox-boolean" /> Update changes
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Litigation Hold Message</label>
                                            <div class="col-sm-6">
                                                <textarea name="RetentionComment" id="RetentionComment" cols="50" rows="4" class="form-control"></textarea>
                                            </div>
                                            <div class="col-sm-3">
                                                <input id="cbChangeLitigationHoldComment" name="cbChangeLitigationHoldComment" type="checkbox" value="false" class="checkbox-boolean" /> Update changes
                                            </div>
                                        </div>

                                        <hr />

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Archive Mailbox</label>
                                            <div class="col-sm-6">
                                                <label class="checkbox-inline">
                                                    <input id="ArchivingEnabledChecked" name="ArchivingEnabledChecked" type="checkbox" value="false" class="checkbox-boolean" /> Archiving Enabled <small>(Note: Enabling archive requires you to select an archive plan)</small>
                                                </label>
                                            </div>
                                            <div class="col-sm-3">
                                                <input id="cbChangeArchiving" name="cbChangeArchiving" type="checkbox" value="false" class="checkbox-boolean" /> Update changes
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Archive Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ArchiveName" name="ArchiveName">
                                            </div>
                                            <div class="col-sm-3">
                                                <input id="cbChangeArchiveName" name="cbChangeArchiveName" type="checkbox" value="false" class="updateCheckbox" class="checkbox-boolean" /> Update changes
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Archive Plan</label>
                                            <div class="col-sm-6">
                                                <select id="ArchivePlan" name="ArchivePlan" style="width: 100%" class="populate">
                                                    @CloudPanel.Modules.PlansModules.ArchivePlanModule.GetArchivePlansWithOptions(companyCode, null)
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <input id="cbChangeArchivePlan" name="cbChangeArchivePlan" type="checkbox" value="false" class="checkbox-boolean" /> Update changes
                                            </div>
                                        </div>

                                        <hr />

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">ActiveSync Policy</label>
                                            <div class="col-sm-6">
                                                <select id="ChgActiveSyncPlan" name="ChgActiveSyncPlan" style="width: 100%" class="form-control">
                                                    <option value="0">Default</option>
                                                    @CloudPanel.Modules.CompanyModules.Exchange.ActiveSyncModule.GetAllPlansWithOptions(companyCode, null)
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <input id="cbChangeActiveSyncPlan" name="cbChangeActiveSyncPlan" type="checkbox" value="false" class="checkbox-boolean" /> Update changes
                                            </div>
                                        </div>
                                    </div>

                                    <div id="Disable" style="display: none;" class="text-center">
                                        <h3>There are no values to set since you chose to disable mailboxes</h3>
                                    </div>

                                </div>
                            </div>
                        </fieldset>

                        <input type="submit" class="finish btn-success btn" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section JAVASCRIPT{
    <script src="~/Content/plugins/datatables-1.10.2/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/form-stepy/jquery.stepy.js"></script>
    <script src="~/Content/plugins/form-select2/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".checkbox-boolean").click(function () {
                if ($(this).is(':checked')) {
                    $(this).val("true");
                } else {
                    $(this).val("false");
                }
            });

            $('#basicwizard').stepy({
                legend: false
            });

            $('.stepy-navigator').wrapInner('<div class="pull-right"></div>');

            $("#dataTable").DataTable({
                "lengthChange": false,
                "stateSave": false,
                "lengthMenu": [25],
                "ordering": false
            });

            $("#MailboxPlan").change(function () {
                var option = $("#MailboxPlan option:selected");
                SetSlider(option.data("size"), option.data("maxsize"), option.data("size"), option.data("description"));
            });

            var option = $("#MailboxPlan option:selected");
            SetSlider(option.data("size"), option.data("maxsize"), option.data("size"), option.data("description"));

            /* Multiple fields */
            $(".populate").select2({
                width: 'resolve'
            });
        });

        function CheckboxCol(source) {
            var table = $('#dataTable').DataTable();
            var cells = table
                        .cells(".selector")
                        .nodes();

            $(cells).find(":checkbox").prop("checked", $(source).is(":checked"));
        }

        function SetSlider(min, max, selectedValue, description) {
            if (min == 0) {
                $("#sliderDiv").hide();
                $("#SizeInMB").val("0");
            }
            else {
                $("#sliderDiv").show();
                $("#slider-range-min").slider({
                    range: "min",
                    value: selectedValue,
                    step: 256,
                    min: min,
                    max: max,
                    change: function (event, ui) {
                        $("#slider-range-min-amount").text(ui.value + "MB");
                        $("#SizeInMB").val(ui.value);
                    }
                });

                $("#slider-range-min-amount").text(selectedValue + "MB");
                $("#SizeInMB").val(selectedValue);
            }

            $("#mailboxPlanDescription").text(description)
        }

        function ShowEnable() {
            $("#Disable").hide();
            $("#Change").hide();
            $("#Enable").show();
        }

        function ShowDisable()
        {
            $("#Disable").show();
            $("#Change").hide();
            $("#Enable").hide();
        }

        function ShowChange()
        {
            $("#Disable").hide();
            $("#Change").show();
            $("#Enable").hide();
        }
    </script>
}