@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel


@{
    Layout = "__master.cshtml";
}

@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-toggle/toggles.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-select2/select2.css" rel="stylesheet" />
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/company/@this.RenderContext.Context.GetCompanyCode()/overview">@this.RenderContext.Context.GetCompanyName()</a></li>
        <li>Exchange</li>
        <li><a href="~/company/@this.RenderContext.Context.GetCompanyCode()/exchange/groups">Distribution Groups</a></li>
        <li class="active">Add Group</li>
    </ol>

    <h1>Add Group</h1>
</div>

<div class="container">
    <div class="row">
        <form id="form" action="" method="post" data-parsley-validate>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Details</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="DisplayName" name="DisplayName" value="@Model.group.DisplayName" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="EmailFirst" name="EmailFirst" value="@Model.group.EmailFirst" data-parsley-required="true">
                                        <span class="input-group-addon">@@</span>
                                        <select id="DomainID" name="DomainID" class="form-control" data-parsley-required="true">
                                            @CloudPanel.Modules.DomainsModule.GetAcceptedDomainsOptions(this.RenderContext.Context.GetCompanyCode(), Model.group.DomainID)
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="Hidden" name="Hidden" @(Model.group.Hidden == true ? "value=\"true\" selected" : "value=\"false\"")>Hidden from Address List? </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Managed By-->
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Managed By
                        <div class="options">
                            <a href="#" data-toggle="modal" data-target="#selectModal" onclick="ShowPopup('#managedBy');">ADD <i class="fa fa-plus-square"></i></a>
                        </div>
                    </div>
                    <div class="panel-body scrollthis">
                        <div id="managedBy" class="list-group">
                            @{
                                if (Model.group.ManagedByOriginalObject != null)
                                {
                                    foreach (var i in Model.group.ManagedByOriginalObject)
                                    {
                                        <a href="javascript:;" class="list-group-item" onclick="RemoveItem(this);" data-id="@i.Identifier"><span class="badge badge-danger">Delete</span><i class="fa fa-user"></i>@i.DisplayName</a>
                                    }
                                }
                            }
                        </div>
                        <input id="ManagedByAdded" name="ManagedByAdded" type="hidden" class="plus" value="@(Model.group.ManagedByOriginal != null ? String.Concat(String.Join(",", Model.group.ManagedByOriginal), ",") : "")" />
                        <input id="ManagedByRemoved" name="ManagedByRemoved" type="hidden" class="minus" />
                    </div>
                </div>
            </div>

            <!-- Members -->
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Members
                        <div class="options">
                            <a href="#" data-toggle="modal" data-target="#selectModal" onclick="ShowPopup('#members');">ADD <i class="fa fa-plus-square"></i></a>
                        </div>
                    </div>
                    <div class="panel-body scrollthis">
                        <div id="members" class="list-group">
                        </div>
                        <input id="MembersAdded" name="MembersAdded" type="hidden" class="plus" />
                        <input id="MembersRemoved" name="MembersRemoved" type="hidden" class="minus" />
                    </div>
                </div>
            </div>

            <!-- Membership Approval -->
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Membership Approval</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Owner Approval Required to Join?</label>
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <label><input type="radio" name="MemberJoinRestriction" value="10" @(Model.group.MemberJoinRestriction == CloudPanel.Base.Enums.ExchangeValues.Open ? "checked" : "") data-parsley-required="true"> OPEN: Anyone can join this group without being approved by the group owners</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="MemberJoinRestriction" value="11" @(Model.group.MemberJoinRestriction == CloudPanel.Base.Enums.ExchangeValues.Closed ? "checked" : "")> CLOSED: Members can be added only by the group owners. All requests to join will be rejected automatically</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="MemberJoinRestriction" value="12" @(Model.group.MemberJoinRestriction == CloudPanel.Base.Enums.ExchangeValues.ApprovalRequired ? "checked" : "")> OWNER APPROVAL: All requests are approved or rejected by the group owners</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Can users leave?</label>
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <label><input type="radio" name="MemberDepartRestriction" value="10" @(Model.group.MemberDepartRestriction == CloudPanel.Base.Enums.ExchangeValues.Open ? "checked" : "") data-parsley-required="true"> OPEN: Anyone can leave this group without being approved by the group owners</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="MemberDepartRestriction" value="11" @(Model.group.MemberDepartRestriction == CloudPanel.Base.Enums.ExchangeValues.Closed ? "checked" : "")> CLOSED: Members can be removed only by the group owners. All requests to leave will be rejected automatically</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="MemberDepartRestriction" value="12" @(Model.group.MemberDepartRestriction == CloudPanel.Base.Enums.ExchangeValues.ApprovalRequired ? "checked" : "")> OWNER APPROVAL: All requests are approved or rejected by the group owners</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Delivery Management -->
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Membership Approval</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <p>By default, only senders inside your organization can send messages to this group. You can also allow people outside the organization to send to this group. Choose one of the options below:</p>
                                    <div class="radio">
                                        <label><input type="radio" name="RequireSenderAuthenticationEnabled" value="15" @(Model.group.RequireSenderAuthenticationEnabled == CloudPanel.Base.Enums.ExchangeValues.Inside ? "checked" : "") data-parsley-required="true"> Only senders inside my organization can send to this group</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="RequireSenderAuthenticationEnabled" value="16" @(Model.group.RequireSenderAuthenticationEnabled == CloudPanel.Base.Enums.ExchangeValues.InsideAndOutside ? "checked" : "")> Senders inside and outside of my organization can send to this group</label>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <p>If you want to restrict who can send messages to the group, add users or groups to the list below. Only the specified senders will be able to send to the group and mail sent by anyone else will be rejected.</p>
                                    <select id="AcceptMessagesOnlyFromSendersOrMembers" name="AcceptMessagesOnlyFromSendersOrMembers" class="multiselect" style="width: 100%" multiple>
                                        <optgroup label="Users">
                                            @CloudPanel.Modules.UsersModule.GetMailboxUsersOptions(this.RenderContext.Context.GetCompanyCode(), Model.group.AcceptMessagesOnlyFromSendersOrMembers)
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Message Approval -->
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Message Approval</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="ModerationEnabled" name="ModerationEnabled" value="false"> Messages sent to this group have to be approved by a moderator
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Group Moderators</label>
                                <div class="col-sm-6">
                                    <select id="ModeratedBy" name="ModeratedBy" class="multiselect" style="width: 100%" multiple>
                                        <optgroup label="Users">
                                            @CloudPanel.Modules.UsersModule.GetMailboxUsersOptions(this.RenderContext.Context.GetCompanyCode(), Model.group.ModeratedBy)
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Senders that don't require approval</label>
                                <div class="col-sm-6">
                                    <select id="BypassModerationFromSendersOrMembers" name="BypassModerationFromSendersOrMembers" class="multiselect" style="width: 100%" multiple>
                                        <optgroup label="Users">
                                            @CloudPanel.Modules.UsersModule.GetMailboxUsersOptions(this.RenderContext.Context.GetCompanyCode(), Model.group.BypassModerationFromSendersOrMembers)
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="SendModerationNotifications" value="20" @(Model.group.SendModerationNotifications == CloudPanel.Base.Enums.ExchangeValues.Always ? "checked" : "") data-parsley-required="true"> Notify all senders when their messages aren't approved
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="SendModerationNotifications" value="21" @(Model.group.SendModerationNotifications == CloudPanel.Base.Enums.ExchangeValues.Internal ? "checked" : "")> Notify senders in your organization when their messages aren't approved
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="SendModerationNotifications" value="22" @(Model.group.SendModerationNotifications == CloudPanel.Base.Enums.ExchangeValues.Never ? "checked" : "")> Don't notify anyone when a message isn't approved
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-toolbar text-right">
                            <button class="btn-default btn" type="button" onclick="javascript: history.back();">Cancel</button>
                            <button class="btn-primary btn" type="button" onclick="javascript: SubmitForm();">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="selectModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Select</h4>
            </div>
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" border="0" class="table datatables" id="dataTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Email</th>
                            <th style="display: none">Identifier</th>
                            <th style="display: none">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in CloudPanel.Modules.GroupsModule.GetAll(this.RenderContext.Context.GetCompanyCode()))
                        {
                            <tr>
                                <td>
                                    @if (obj.ObjectType == CloudPanel.Base.Enums.ExchangeValues.Group) { 
                                        <i class="fa fa-group"></i>
                                    }
                                    else if (obj.ObjectType == CloudPanel.Base.Enums.ExchangeValues.Contact)
                                    {
                                        <i class="fa-envelope-o"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-user"></i>
                                    }
                                </td>
                                <td>@obj.DisplayName</td>
                                <td>@obj.Email</td>
                                <td style="display: none">@obj.Identifier</td>
                                <td style="display: none">@obj.ObjectType</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="dataTableSave" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>

@section JAVASCRIPT{
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/form-select2/select2.min.js"></script>
    <script type="text/javascript">
        var currentPopup;
        var table;

        $(document).ready(function () {
            table = $("#dataTable").DataTable();

            $("#dataTable tbody").on("click", "tr", function () {
                $(this).toggleClass("selected");
            });

            $("#dataTableSave").click(function () {
                table.rows('.selected').indexes().each(function (idx) {
                    AddItem(currentPopup,
                            table.cell(idx, 1).data(),
                            table.cell(idx, 3).data(),
                            table.cell(idx, 4).data());
                });
            });

            $(".multiselect").select2({ width: 'resolve' });

            GetMembers("@Model.group.DistinguishedName");
        });

        function GetMembers(identity) {
            if (identity !== "") {
                $("#membersPanel").block({
                    message: $('#waitMessage')
                });

                $.ajax({
                    url: "@Url.RenderContext.Context.Request.Url/members",
                    type: "GET",
                    dataType: "json"
                }).done(function (data) {
                    $.each(data.members, function (index, value) {
                        AddItem("#members",
                                data.members[index].displayName,
                                data.members[index].email,
                                data.members[index].objectType);
                    });
                }).fail(function (returnData) {
                    ShowError(returnData.responseJSON.error);
                }).always(function () {
                    $("#membersPanel").unblock();
                });
            }
        }

        function ShowPopup(div) {
            currentPopup = div;
            table.rows('.selected').nodes().to$().removeClass('selected');
        }

        function RemoveItem(item) {
            var id = $(item).data("id");

            var plusField = $(item).parent().parent().find('.plus');
            Remove(plusField, id);

            var minusField = $(item).parent().parent().find('.minus');
            Append(minusField, id);

            item.remove();
        }

        function AddItem(div, text, value, valueType) {
            var newRow = '<a href="javascript:;" class="list-group-item" onclick="RemoveItem(this);" data-id="' + value + '">' +
                         '<span class="badge badge-danger">Delete</span>' +
                         '<i class="' + GetFontAwesome(valueType) + '"></i> ' + text + '</a>';

            if (div == "#managedBy" && valueType > 0) {
                alert("You can only add users to the managed by section");
            } else {
                var plusField = $(div).parent().find('.plus');
                var addedToField = Append(plusField, value);

                var minusField = $(div).parent().find('.minus');
                Remove(minusField, value);

                if (addedToField) {
                    $(div).append(newRow);
                }
            }
        }

        function GetFontAwesome(valueType) {
            if (valueType == "1")
                return "fa fa-group";
            else if (valueType == "2")
                return "fa-envelope-o";
            else
                return "fa fa-user";
        }

        function Append(input, value) {
            var i = $(input);

            if (i.val() == "") {
                i.val(value);
                return true;
            } else {
                var split = i.val().split(",");
                var index = $.inArray(value, split);

                if (index == -1) {
                    split.push(value);
                    i.val(split);
                    return true;
                } else {
                    return false;
                }
            }
        }

        function Remove(input, findValue) {
            var i = $(input);

            if (i.val() !== "") {
                var split = i.val().split(",");
                var index = $.inArray(findValue, split);

                if (index >= 0) {
                    split.splice(index, 1);
                    i.val(split);
                }
            }
        }

        function SubmitForm() {
            if ($("#form").parsley().validate()) {
                var data = $("#form").serialize();

                $(".container").block();
                $.post("", data).done(function (returnData) {
                    ShowSuccess(returnData.success);
                }).fail(function (returnData) {
                    ShowError(returnData.responseJSON.error);
                }).always(function () {
                    $(".container").unblock();
                });
            }
            else
                ShowWarning("You are missing some required fields!");
        }
    </script>
}