@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel

@{
    Layout = "__master.cshtml";

    string companyCode = this.RenderContext.Context.GetCompanyCode();
}


<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/company/@companyCode/overview">@this.RenderContext.Context.GetCompanyName()</a></li>
        <li>Exchange</li>
        <li class="active">Enable Public Folders</li>
    </ol>

    <h1>Enable Public Folders</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Public Folders</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Username</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="Username" name="Username" data-parsley-required="true">
                                    <span class="input-group-addon">@@</span>
                                    <select id="DomainID" name="DomainID" class="form-control">
                                        @foreach (var domains in CloudPanel.Modules.DomainsModule.GetAcceptedDomains(companyCode))
                                        {
                                            <option value="@domains.DomainID">@domains.Domain</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Plan</label>
                            <div class="col-sm-6">
                                <select id="PlanID" name="PlanID" class="form-control">
                                    @foreach (var plans in CloudPanel.Modules.PlansModules.PublicFolderPlanModule.GetPublicFolderPlans(companyCode))
                                    {
                                        <option value="@plans.ID">@plans.Name</option>
                                    }
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

@section JAVASCRIPT{
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}