@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel
@{var branding = CloudPanel.Modules.BrandingModule.GetBranding(Url.RenderContext.Context.Request.Url.HostName);  }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CloudPanel">
    <meta name="author" content="@branding.Name">

    <!-- <link href="~/content/less/styles.less" rel="stylesheet/less" media="all">  -->
    <link rel="stylesheet" href="~/content/css/styles.css?=121">
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>

    <link href="~/Content/variations/@branding.Theme" rel="stylesheet" />
    <link href="~/Content/plugins/pines-notify/jquery.pnotify.default.css" rel="stylesheet" />
    <link href="~/Content/plugins/sweetalert/lib/sweet-alert.css" rel="stylesheet" />
    
    <style type="text/css">
        #WaitMessage {
            display: none;
            text-align: center;
        }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="~/content/css/ie8.css">
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
        <script type="text/javascript" src="~/content/plugins/charts-flot/excanvas.min.js"></script>
    <![endif]-->
    <!-- The following CSS are included as plugins and can be removed if unused-->

    <!-- <script type="text/javascript" src="~/content/js/less.js"></script> -->

    @RenderSection("HEAD", false)
</head>

<body class="@(branding.MenuType > 0 ? "horizontal-nav" : "")">
    <header class="navbar navbar-inverse navbar-fixed-top hidden-print" role="banner">
        <a id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>

        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="~/" style="background: url('@Url.Content(branding.HeaderLogo)') no-repeat center center;">@branding.Name</a>
        </div>

        <ul class="nav navbar-nav pull-right toolbar">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle username" data-toggle="dropdown"><span class="hidden-xs">@RenderContext.Context.DisplayName() <i class="fa fa-caret-down"></i></span></a>
                <ul class="dropdown-menu userinfo arrow">
                    <li class="username">
                        <a href="#">
                            <div class="pull-left"><i class="fa fa-user"></i></div>
                            <div class="pull-right"><small><span>@if (this.RenderContext.Context.CurrentUser != null) { @RenderContext.Context.CurrentUser.UserName }</span></small></div>
                        </a>
                    </li>
                    <li class="userlinks">
                        <ul class="dropdown-menu">
                            <li><a href="~/logout" class="text-right">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </header>

    @if (branding.MenuType > 0) { @Html.Partial("__topmenu.cshtml", (branding.MenuType == 2 ? true : false)) }
    <div id="page-container">
        
        @if (branding.MenuType < 1) { @Html.Partial("__leftmenu.cshtml") }

        <div id="page-content">
            <div id="wrap">
                <div id="messages">
                    @if (Model != null)
                    {
                        var dict = ((System.Collections.Generic.IDictionary<string, object>)Model);
                        if (dict.ContainsKey("success"))
                        {
                            <div class="alert alert-dismissable alert-success">
                                <strong>Success</strong> @Model.success
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        }
                        if (dict.ContainsKey("info"))
                        {
                            <div class="alert alert-dismissable alert-info">
                                <strong>Heads up!</strong> @Model.info
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        }
                        if (dict.ContainsKey("warning"))
                        {
                            <div class="alert alert-dismissable alert-warning">
                                <strong>Warning!</strong> @Model.warning
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        }
                        if (dict.ContainsKey("error"))
                        {
                            <div class="alert alert-dismissable alert-danger">
                                <strong>Oh snap!</strong> @Model.error
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            </div>
                        }
                    }
                </div>

                @RenderBody()
            </div>
        </div>

        <footer role="contentinfo" class="hidden-print">
            <div class="clearfix">
                <ul class="list-unstyled list-inline pull-left">
                    <li><a href="http://www.knowmoreit.com/">KnowMoreIT &copy; 2014</a></li>
                </ul>
                <button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
            </div>
        </footer>
    </div>

    <!-- Wait message for BlockUI -->
    <div id="WaitMessage">
        <p><img src="~/Content/img/wait_animation.gif" /></p>
        <div id="message">Please Wait</div>
    </div>

    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <script>!window.jQuery && document.write(unescape('%3Cscript src="~/content/js/jquery-1.10.2.min.js"%3E%3C/script%3E'))</script>
    <script type="text/javascript">!window.jQuery.ui && document.write(unescape('%3Cscript src="~/content/js/jqueryui-1.10.3.min.js'))</script>
    -->

    <script type="text/javascript" src="~/content/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/content/js/jqueryui-1.10.3.min.js"></script>
    <script type="text/javascript" src="~/content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/content/js/enquire.js"></script>
    <script type="text/javascript" src="~/content/js/jquery.cookie.js"></script>
    <script type="text/​javascript" src="~/content/​js/​placeholdr.js">​</script>​
    <script type="text/javascript" src="~/content/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/content/js/application.js"></script>
    <script type="text/javascript" src="~/Content/plugins/pines-notify/jquery.pnotify.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/sweetalert/lib/sweet-alert.js"></script>
    <script type="text/javascript" src="~/Content/plugins/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".tooltip-ex").tooltip();
            $.blockUI.defaults.message = $("#WaitMessage");
        });

        function ShowSuccess(message) {
            $.pnotify({
                title: 'Success!',
                text: message,
                type: 'success'
            });
        }

        function ShowWarning(message) {
            swal("Warning!", message, "warning");
        }

        function ShowError(data) {
            if (data.hasOwnProperty("responseJSON")) {
                swal("Error!", data.responseJSON.error, "error");
            } else if (data.hasOwnProperty("statusText")) {
                swal("Error!", data.status + ": " + data.statusText, "error");
            } else {
                swal("Error!", data, "error");
            }
        }

        function ShowAlert(title, message, type) {
            swal(title, message, type);
        }
    </script>

    @RenderSection("JAVASCRIPT", false)
</body>
</html>