@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_master.cshtml";
}

@section PAGEHEADER{
    <div class="pageheader">
        <h2><i class="glyphicon glyphicon-cloude"></i> @Text.words.Citrix </h2>
    </div>
}

<div class="people-list">
    <div class="row">

        @if (Model != null)
        {
            <h2>Servers</h2>
            foreach (var app in Model)
            {
                if (app.IsServer) { 
                    <div class="col-md-4">
                        <div class="people-item">
                            <div class="media">
                                <a href="#" class="pull-left">
                                    @if (string.IsNullOrEmpty(app.PictureURL)) {
                                        <img src="~/content/images/cloud-servers.png" class="thumbnail media-object" />
                                    }
                                    else {
                                        <img alt="" src="@Url.Content(app.PictureURL)" class="thumbnail media-object">
                                    }
                                </a>
                                <div class="media-body">
                                    <h4 class="person-name">@app.Name</h4>
                                    <div class="text-muted"><i class="fa fa-money"></i> @app.Price</div>
                                    <div class="text-muted"><i class="fa fa-info-circle"></i> @app.Description</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="mb40"></div>
            <div class="clearfix"></div>
            
            <h2>Applications</h2>
            foreach (var app in Model)
            {
                if (!app.IsServer)
                {
                    <div class="col-md-4">
                        <div class="people-item">
                            <div class="media">
                                <a href="#" class="pull-left">
                                    @if (string.IsNullOrEmpty(app.PictureURL)) {
                                        <img src="~/content/images/software-icon.png" class="thumbnail media-object" />
                                    }
                                    else {
                                        <img alt="" src="@Url.Content(app.PictureURL)" class="thumbnail media-object">
                                    }
                                </a>
                                <div class="media-body">
                                    <h4 class="person-name">@app.Name</h4>
                                    <div class="text-muted"><i class="fa fa-money"></i> @app.Price</div>
                                    <div class="text-muted"><i class="fa fa-info-circle"></i> @app.Description</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>