@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_master.cshtml";
}

@section PAGEHEADER{
    <div class="pageheader">
        <h2><i class="fa fa-globe"></i> @Text.words.Domains <span>@Model.Domain1</span></h2>
    </div>
}

<form id="editDomainForm" method="post" action="">
    <input type="hidden" name="_method" value="PUT" />
    
    <!-- General -->
    <div class="panel panel-dark">
        <div class="panel-heading">
            <h4 class="panel-title">@Text.words.General</h4>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <label class="col-sm-1 control-label">@Text.words.DomainName</label>
                <div class="col-sm-6">
                    <input type="text" name="Domain1" class="form-control" readonly="readonly" value="@Model.Domain1">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-6">
                    <div class="ckbox ckbox-success">
                        <input type="checkbox" id="IsDefault" name="IsDefault" @CloudPanel.code.CPHtmlHelpers.IsChecked(Model.IsDefault) />
                        <label for="IsDefault">@Text.words.IsDefault</label>

                        <span data-placement="right" data-toggle="tooltip" data-original-title="@Text.help.Domains_DefaultDomain" class="tooltips help padding10">
                            <i class="fa fa-question-circle"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Exchange -->
    <div class="panel panel-dark">
        <div class="panel-heading">
            <div class="panel-btns">
                <a href="" data-placement="left" data-toggle="tooltip" data-original-title="@Text.help.Domains_Exchange" class="tooltips help">
                    <i class="fa fa-question"></i>
                </a>
            </div>
            <h4 class="panel-title">@Text.words.Exchange</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-1 control-label"></label>
                <div class="col-sm-6">
                    <div class="ckbox ckbox-success">
                        <input type="checkbox" id="IsAcceptedDomain" name="IsAcceptedDomain" @CloudPanel.code.CPHtmlHelpers.IsChecked(Model.IsAcceptedDomain)>
                        <label for="IsAcceptedDomain">@Text.words.IsAcceptedDomain</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">@Text.words.Type</label>
                <div class="col-md-6">

                    <div class="rdio rdio-primary">
                        <input type="radio" name="DomainType" value="1" id="Authoritative" @CloudPanel.code.CPHtmlHelpers.IsChecked(Model.DomainType, 1)>
                        <label for="Authoritative">@Text.words.Authoritative</label>

                        <span data-placement="right" data-toggle="tooltip" data-original-title="@Text.help.Domains_Autoritative" class="tooltips help padding10">
                            <i class="fa fa-question-circle"></i>
                        </span>
                    </div>

                    <div class="rdio rdio-primary">
                        <input type="radio" name="DomainType" value="2" id="InternalRelay" @CloudPanel.code.CPHtmlHelpers.IsChecked(Model.DomainType, 2)>
                        <label for="InternalRelay">@Text.words.InternalRelay</label>

                        <span data-placement="right" data-toggle="tooltip" data-original-title="@Text.help.Domains_InternalRelay" class="tooltips help padding10">
                            <i class="fa fa-question-circle"></i>
                        </span>
                    </div>

                    <div class="rdio rdio-primary">
                        <input type="radio" name="DomainType" value="3" id="ExternalRelay" @CloudPanel.code.CPHtmlHelpers.IsChecked(Model.DomainType, 3)>
                        <label for="ExternalRelay">@Text.words.ExternalRelay</label>

                        <span data-placement="right" data-toggle="tooltip" data-original-title="@Text.help.Domains_ExternalRelay" class="tooltips help padding10">
                            <i class="fa fa-question-circle"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="pull-right">
            <button type="button" class="btn btn-default" onclick="history.go(-1);">@Text.words.Back</button>
            <button class="btn btn-success">@Text.words.Save</button>
        </div>
    </div>

</form>