@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_master.cshtml";
}

@section PAGEHEADER{
    <div class="pageheader">
        <h2><i class="fa fa-male"></i> @Text.words.Contacts </h2>
    </div>
}

<div class="row">
    <a href="#" class="btn btn-success mr5 pull-right" data-toggle="modal" data-target=".new-domain-modal">@Text.words.Add</a>
</div>

<div class="mb30"></div>

<!-- Table -->
<div class="row">
    <table id="contactsDataTable" class="table table-dark table-hover mb30">
        <thead>
            <tr>
                <th>@Text.words.Name</th>
                <th>@Text.words.Email</th>
                <th>@Text.words.Hidden</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (dynamic contact in Model)
                {
                    <tr>
                        <td>@contact.DisplayName</td>
                        <td>@contact.Email</td>
                        <td>
                            @if (contact.Hidden)
                            {
                                <span class="glyphicon glyphicon-check"></span>
                            }
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <a href="@Url.Content("~/Company/Email/Contacts/" + @contact.CompanyCode + "/" + contact.ID)" data-toggle="modal" class="btn btn-xs btn-orange">@Text.words.Modify</a>
                                <button type='button' class='btn btn-xs btn-orange dropdown-toggle' data-toggle='dropdown'>
                                    <span class='caret'></span>
                                    <span class='sr-only'>@Text.words.Dropdown</span>
                                </button>
                                <ul class='dropdown-menu' role='menu'>
                                    <li><a href="#" id="deleteDomainLink" data-toggle="modal" data-target="#deleteModal" data-id="@contact.ID" data-name="@contact.DisplayName">@Text.words.Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!-- Add Contact -->
<form id="addContactForm" method="post" action="">
    <div class="modal fade new-domain-modal" id="new-domain-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">@Text.words.AddContact</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">@Text.words.DisplayName</label>
                        <input id="DisplayName" name="DisplayName" type="text" class="form-control" maxlength="64" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">@Text.words.Email</label>
                        <input id="Email" name="Email" type="text" class="form-control" maxlength="255" />
                    </div>
                    <div class="form-group">
                        <div class="ckbox ckbox-success">
                            <input id="Hidden" name="Hidden" type="checkbox" />
                            <label for="Hidden">@Text.words.Hidden</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Text.words.Close</button>
                    <input id="btnAdd" type="submit" value="@Text.words.Add" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
</form>

@section CUSTOMJAVASCRIPT {
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ajaxStart(function () {
            $.blockUI({
                message: '<p>Processing</p><img src="@Url.Content("~/Content/images/loaders/loader25.gif")" />',
                baseZ: 5000
            });
        });
        $(document).ajaxStop($.unblockUI);

        jQuery(document).ready(function () {
            $("#contactsDataTable").dataTable();

            // Chosen Select
            jQuery("select").chosen({
                'min-width': '200px',
                'white-space': 'nowrap',
                disable_search_threshold: 10
            });
        });
</script>
}