@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_master.cshtml";
}

@section PAGEHEADER{
    <div class="pageheader">
        <h2><i class="fa fa-users"></i> @Text.words.DistributionGroups </h2>
    </div>
}

<div class="row">
    <a href="#" class="btn btn-success mr5 pull-right" data-toggle="modal" data-target=".new-domain-modal">@Text.words.Add</a>
</div>

<div class="mb30"></div>

<!-- Table -->
<div class="row">
    <table id="groupsDataTable" class="table table-dark table-hover mb30">
        <thead>
            <tr>
                <th>@Text.words.Name</th>
                <th>@Text.words.Email</th>
                <th>@Text.words.Hidden</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Text.phrases.Load_FromServer</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

@section CUSTOMJAVASCRIPT {
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.datatables.min.js"></script>
    <script type="text/javascript">
    $(document).ajaxStart(function () {
        $.blockUI({
            message: '<p>Processing</p><img src="@Url.Content("~/Content/images/loaders/loader25.gif")" />',
            baseZ: 5000
        });
    });
    $(document).ajaxStop($.unblockUI);

    jQuery(document).ready(function () {
        $("#groupsDataTable").dataTable({
            "bProcessing": true,
            "bStateSave": false,
            "bServerSide": true,
            "bJQueryUI": false,
            "bFilter": true,
            "bLengthChange": true,
            "sPaginationType": "full_numbers",
            "sAjaxSource": "@Url.Content("~/Company/Email/Groups/" + Model + "/json")",
            "aoColumns": [
                { "mData": "displayName", "sTitle": "@Text.words.DisplayName", "bSortable": true },
                { "mData": "email", "sTitle": "@Text.words.Email", "bSortable": false },
                {
                    "mData": "hidden", "sTitle": "@Text.words.Hidden", "bSortable": false,
                    "mRender": function (data, type, full) {
                        if (data) return "<span class='glyphicon glyphicon-check'></span>";
                        else return "";
                    }
                },
                {
                    "mData": "iD",
                    "bSortable": false,
                    "bSearchable": false,
                    "sWidth": "150px",
                    "mRender": function (data, type, full) {
                        return "<div class='btn-group pull-right'>" +
                                    "<a href='@Url.Content("~/Company/Email/Groups/")" + full["companyCode"] + "/" + full["iD"] + "' class='btn btn-xs btn-orange'>@Text.words.Modify</a>" +
                                    "<button type='button' class='btn btn-xs btn-orange dropdown-toggle' data-toggle='dropdown'>" +
                                        "<span class='caret'></span>" +
                                        "<span class='sr-only'>@Text.words.Dropdown</span>" +
                                    "</button>" +
                                    "<ul class='dropdown-menu' role='menu'>" +
                                    "<li>" +
                                        "<a href='#' id='deleteGroupLink' data-toggle='modal' data-target='#deleteModal' data-id='" + data + "' data-name='" + full["displayName"] + "'>@Text.words.Delete</a>" +
                                    "</li>" +
                                    "</ul>" +
                                    "</div>";
                    }
                },
            ]
        });

        // Chosen Select
        jQuery("select").chosen({
            'min-width': '200px',
            'white-space': 'nowrap',
            disable_search_threshold: 10
        });
    });
</script>
}