@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_master.cshtml";
}

@section HEAD {
}

@section PAGEHEADER{
    <div class="pageheader">
        <h2><i class="fa fa-users"></i> @Text.words.Users</h2>
    </div>
}

<div class="row">
    <div class="col-sm-10">
        <div class="profile-header">
            <h2 class="profile-name">Jacob Dixon</h2>
            <div class="profile-location"><i class="fa fa-lock"></i> @Text.words.Username: <span class="text-info">@Model.User.UserPrincipalName</span></div>
            <div class="profile-position"><i class="fa fa-building"></i> @Text.words.Department: <span class="text-info Bold">@Model.User.Department</span></div>
        </div>
    </div>
    <div class="col-sm-2">
        <img src="~/content/images/photos/unknown-user.png" alt="" class="thumbnail img-responsive pull-right" style="max-width: 96px" />
    </div>
</div>

<ul class="nav nav-tabs nav-dark">
    <li class="active"><a href="#userDetails" data-toggle="tab"><strong>@Text.words.User</strong></a></li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="cursor: pointer">
            @Text.words.Mailbox <span class="caret"></span>
        </a>
        <ul role="menu" class="dropdown-menu pull-left">
            <li><a href="#mailboxSettings" data-toggle="tab">@Text.words.Settings</a></li>
            <li><a href="#mailboxArchiving" data-toggle="tab">@Text.words.Archiving</a></li>
            <li><a href="#mailboxLitigationHold" data-toggle="tab">@Text.words.LitigationHold</a></li>
        </ul>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="userDetails">
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <h4 class="text-info">General</h4>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">First Name:</label>
                        <div class="col-sm-8">
                            <input type="text" name="FirstName" class="form-control" value="@Model.User.Firstname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Last Name:</label>
                        <div class="col-sm-8">
                            <input type="text" name="LastName" class="form-control" value="@Model.User.Lastname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Display Name:</label>
                        <div class="col-sm-8">
                            <input type="text" name="DisplayName" class="form-control" value="@Model.User.DisplayName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Department:</label>
                        <div class="col-sm-8">
                            <input type="text" name="Department" class="form-control" value="@Model.User.Department">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">

                    <h4 class="text-info">&nbsp;</h4>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">&nbsp;</label>
                        <div class="col-sm-4">
                            <div class="ckbox ckbox-primary">
                                <input id="IsEnabled" name="IsEnabled" type="checkbox" />
                                <label for='IsEnabled'>Is Enabled</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">&nbsp;</label>
                        <div class="col-sm-4">
                            <div class="ckbox ckbox-primary">
                                <input id="PasswordNeverExpires" name="PasswordNeverExpires" type="checkbox" />
                                <label for='PasswordNeverExpires'>Password Never Expires</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">&nbsp;</label>
                        <div class="col-sm-4">
                            <div class="ckbox ckbox-primary">
                                <input id="ResetPwdNextLogon" name="ResetPwdNextLogon" type="checkbox" />
                                <label for='ResetPwdNextLogon'>Reset Password on Next Login</label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="mailboxSettings">
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <h4 class="text-info">@Text.words.MailboxSettings</h4>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Plan:</label>
                        <div class="col-sm-8">
                            @CloudPanel.code.CPHtmlHelpers.GetMailboxPlans(Model.User.CompanyCode, Model.MailboxPlans, Model.User.MailboxPlan)
                            <p id="planDescription"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Activesync Plan:</label>
                        <div class="col-sm-8">
                            @CloudPanel.code.CPHtmlHelpers.GetActiveSyncPlans(Model.User.CompanyCode, Model.ActiveSyncPlans, Model.User.ActiveSyncPlan)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Primary Email:</label>
                        <div class="col-sm-4">
                            <input type="text" name="EmailFirst" class="form-control" value="@Model.User.EmailFirst">
                        </div>
                        <div class="col-sm-4">
                            @CloudPanel.code.CPHtmlHelpers.GetEmailDomains(Model.User.CompanyCode, Model.EmailDomains, Model.User.EmailDomain)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Size:</label>
                        <div class="col-sm-8">
                            <div id="sizeWell" class="well well-sm">2048MB</div>
                            <div id="slider-size" class="slider-warning mb20"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <h4 class="text-info">@Text.words.Permissions</h4>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Text.words.FullAccess:</label>
                        <div class="col-sm-8">
                            @CloudPanel.code.CPHtmlHelpers.GetMultiSelectBox("FullAccess", Model.UsersPermissionList, new List<string>() { "eroscoe_largecompa", "hdixon_largecompan" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Text.words.SendAs:</label>
                        <div class="col-sm-8">
                            @CloudPanel.code.CPHtmlHelpers.GetMultiSelectBox("SendAs", Model.UsersPermissionList, new List<string>() { "eroscoe_largecompa", "hdixon_largecompan" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Text.words.SendOnBehalf:</label>
                        <div class="col-sm-8">
                            @CloudPanel.code.CPHtmlHelpers.GetMultiSelectBox("SendOnBehalf", Model.UsersPermissionList, new List<string>() { "eroscoe_largecompa", "hdixon_largecompan" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <h4 class="text-info">@Text.words.EmailAliases</h4>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Text.words.Aliases</label>
                        <div class="col-sm-8">
                            <table id="aliasDataTable" class="table table-dark table-hover mb30">
                                <thead>
                                    <tr>
                                        <th>@Text.words.Email</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Text.phrases.Load_FromServer</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="mailboxArchiving">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat</p>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias </p>
    </div>
    <div class="tab-pane" id="mailboxLitigationHold">
        <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
        <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">first.last@example.com</a>
        </address>
    </div>
</div>

<div class="panel-footer">
    <div class="pull-right">
        <button type="button" class="btn btn-default" onclick="history.go(-1);">@Text.words.Back</button>
        <button class="btn btn-success">@Text.words.Save</button>
    </div>
</div>

@section CUSTOMJAVASCRIPT {

    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery.datatables.min.js"></script>
    <script src="~/content/js/jquery.datatables.fnFilterOnReturn.js"></script>
    <script type="text/javascript">
        $(document).ajaxStart(function () {
            $.blockUI({
                message: '<p>Processing</p><img src="@Url.Content("~/Content/images/loaders/loader25.gif")" />'
            });
        });
        $(document).ajaxStop($.unblockUI);

        $(document).ready(function () {

            GetMailboxPlan($("#MailboxPlan").val());
            $("#MailboxPlan").change(function () {
                GetMailboxPlan($(this).val());
            });

            $(".chosen-select").chosen({ 'width': '100%', 'white-space': 'nowrap' });

        });

        function GetEmailAliases()
        {
            $("#aliasDataTable").dataTable({
                "bProcessing": true,
                "bStateSave": false,
                "bServerSide": true,
                "bJQueryUI": false,
                "bFilter": false,
                "bLengthChange": false,
                "sAjaxSource": "@Url.Content("~/ajax/reseller/" + Model + "/companies")",
                "aoColumns": [
                {
                    "mData": "companyName", "sTitle": "@Text.words.Name", "bSortable": true, "mRender": function (data, type, full) {
                        return "<a href=\"" + @Url.Content("~/Company/") +full["resellerCode"]+ "/" +full["companyCode"] + "\">" + data + "</a>";
                    }
                },
                { 
                    "mData": "companyCode", "bSortable": false, "bSearchable": false, "mRender": function (data, type, full) {
                        return "<div class='btn-group pull-right'>" +
                                    "<a href='#' class='btn btn-xs btn-orange' onclick='GetCompany(\"" + data + "\");'>@Text.words.Modify</a>" +
                                    "<button type='button' class='btn btn-xs btn-orange dropdown-toggle' data-toggle='dropdown'>" +
                                        "<span class='caret'></span>" +
                                        "<span class='sr-only'>@Text.words.Dropdown</span>" +
                                    "</button>" +
                                    "<ul class='dropdown-menu' role='menu'>" +
                                    "<li>" +
                                        "<a href='#' id='deleteCompanyLink' data-toggle='modal' data-target='#deleteModal' data-id='" + data + "' data-name='" + full["companyName"] + "'>@Text.words.Delete</a>" +
                                    "</li>" +
                                    "</ul>" +
                                    "</div>";
                    }
                },
            ]
        }).fnFilterOnReturn();
        }

        function GetMailboxPlan(planid)
        {
            if (planid > 0) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Content("~/ajax/company/" + Model.User.CompanyCode + "/Plans/Mailbox/")" + planid,
                    async: false,
                    success: function (data) {
                        if (data.mailboxSizeMB !== null) {
                            var min = data.mailboxSizeMB;
                            var max = data.maxMailboxSizeMB;

                            $("#planDescription").text(data.mailboxPlanDesc);
                            $("#sizeWell").text(min + " MB");

                            if (max < min)
                                max == min;
                            $('#slider-size').slider({
                                range: "min",
                                min: min,
                                max: max,
                                step: 256,
                                value: min,
                                slide: function (event, ui) {
                                    $("#sizeWell").text(ui.value + " MB");
                                }
                            });
                        } else {
                            $("#sizeWell").text("0 MB");
                            $("#planDescription").text("");
                        }
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            } else {
                $("#sizeWell").text("0 MB");
                $("#planDescription").text("");
                $("#slider-size").slider("destroy");
            }
        }
    </script>
}