@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel
@using CloudPanel.Base.Config

@{
    Layout = "__master.cshtml";

    bool isResellersEnabled = Settings.ResellersEnabled;
}

@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-select2/select2.css" rel="stylesheet" />
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        @if (isResellersEnabled) { <li><a href="~/resellers">@this.RenderContext.Context.GetResellerName()</a></li> }
        <li class="active">Companies</li>
    </ol>

    <h1>Companies</h1>
    <div class="options">
        <div class="btn-toolbar">
            <a href="#" class="btn btn-primary hidden-xs" data-toggle="modal" data-target="#addModal">Add New</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Select a Company</div>
                <div class="panel-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered datatables" id="dataTable">
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Company Code</th>
                                <th>Address</th>
                                <th>Created</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Loading...</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer"></div>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<form id="addForm" action="" method="post" data-parsley-validate>
    <div id="addModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add Company</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-4 control-label">Company Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="CompanyName" name="CompanyName" data-parsley-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-4 control-label">Contact Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="AdminName" name="AdminName" data-parsley-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-4 control-label">Contact Email</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="AdminEmail" name="AdminEmail" data-parsley-required="true" data-parsley-type="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-4 control-label">Domain Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="DomainName" name="DomainName" data-parsley-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-4 control-label">Country</label>
                                    <div class="col-sm-8">
                                        @CloudPanel.CPHtmlHelpers.GetCountries("")
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-4 control-label">Plan</label>
                                    <div class="col-sm-8">
                                        @CloudPanel.CPHtmlHelpers.GetCompanyPlans(0, "")
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-4 control-label">Telephone</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" data-parsley-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-4 control-label">Street</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="Street" name="Street" data-parsley-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-4 control-label">City</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="City" name="City" data-parsley-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-4 control-label">State</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="State" name="State" data-parsley-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-4 control-label">Postal Code</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="ZipCode" name="ZipCode" data-parsley-required="true">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="focusedinput" class="col-sm-4 control-label">Website</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="Website" name="Website" data-parsley-type="url">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Modal -->
<form id="editForm" action="" method="post">
    <input type="hidden" name="_method" value="PUT" />
    <div id="editModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Company</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Company Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="CompanyName" name="CompanyName" data-parsley-required="true">
                                <input id="CompanyCode" name="CompanyCode" type="hidden" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Contact Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="AdminName" name="AdminName" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Contact Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="AdminEmail" name="AdminEmail" data-parsley-required="true" data-parsley-type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Telephone</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Street</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Street" name="Street" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="City" name="City" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="State" name="State" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Postal Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="ZipCode" name="ZipCode" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Website</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Website" name="Website" data-parsley-type="url">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Country</label>
                            <div class="col-sm-9">
                                @CloudPanel.CPHtmlHelpers.GetCountries("")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section JAVASCRIPT{
    <script src="~/Content/plugins/datatables-1.10.2/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/moment/moment-with-locales.js"></script>
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/form-select2/select2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $(document).ajaxStop($.unblockUI);
        $(".populate").select2({ width: 'resolve' });
        AddFormHandlers();

        $("#dataTable").DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": {
                type: 'GET',
                dataType: 'json',
                error: function (xhr) {
                    ShowError(xhr);
                },
            },
            "columns": [
                { "data": "companyName", "render": function (data, type, full, meta) { return '<a href="@Url.Content("~/company/")' + full["companyCode"] + '/overview">' + data + '</a>';}},
                    { "data": "companyCode" },
                    { "data": "fullAddressFormatted" },
                    { "data": "created", "render": function (data, type, full, meta) { return moment(data).format('LLLL'); } },
                    { "data": "companyCode", "orderable": false, "className": "text-right", "render": function (data, type, full, meta) { return GetButton(data, full["companyName"], full["resellerCode"]); } }
                ]
            });
        });

        function ReloadCompanies()
        {
            var table = $("#dataTable").DataTable();
            table.ajax.reload();
        }

        function AddFormHandlers() {
            $("#addForm").submit(function (event) {
                event.preventDefault();
                var data = $("#addForm").serialize();

                $.blockUI();
                $.post("", data).done(function (returnData) {
                    $("#addModal").modal("hide");
                    ReloadCompanies();
                    ShowSuccess(returnData.success);
                }).fail(function (returnData) {
                    ShowError(returnData);
                }).always(function () {
                    $.unblockUI();
                });
            });

            $("#editForm").submit(function (event) {
                event.preventDefault();
                var data = $("#editForm").serialize();

                $.blockUI();
                $.ajax({
                    type: "PUT",
                    data: data
                }).done(function () {
                    $("#editModal").modal("hide");
                    ReloadCompanies();
                    ShowSuccess("Successfully updated company");
                }).fail(function (returnData) {
                    ShowError(returnData);
                });
            });
        }

        function GetCompany(companyCode, resellerCode) {
            $.blockUI();

            var url = "@Url.Content("~/company/")" + companyCode + "";
            $.getJSON(url, function (data) {
                $('#editForm input[name="CompanyCode"]').val(companyCode);
                $('#editForm input[name="CompanyName"]').val(data.company.companyName);
                $('#editForm input[name="AdminName"]').val(data.company.adminName);
                $('#editForm input[name="AdminEmail"]').val(data.company.adminEmail);
                $('#editForm input[name="PhoneNumber"]').val(data.company.phoneNumber);
                $('#editForm input[name="Street"]').val(data.company.street);
                $('#editForm input[name="City"]').val(data.company.city);
                $('#editForm input[name="State"]').val(data.company.state);
                $('#editForm input[name="ZipCode"]').val(data.company.zipCode);
                $('#editForm input[name="Website"]').val(data.company.website);

                var country = data.company.country;
                if (!country) {
                    $('#editForm select[name="Country"]').select2("val", "US");
                } else {
                    $('#editForm select[name="Country"]').select2("val", data.company.country.toUpperCase());
                }

                $("#editModal").modal();
            }).fail(function (data) {
                console.log(data);
                AlertError(data);
            }).always(function (data) {
                $(".panel").unblock();
            });
        }

        function DeleteCompany(companyCode, companyName) {
            swal({
                title: "Delete " + companyName + "?",
                text: "This action is not reversable",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false,
                closeOnCancel: true
            },
            function (isconfirm) {
                if (isconfirm) {
                    $.blockUI();
                    $.ajax({
                        type: "DELETE",
                        data: { CompanyCode: companyCode }
                    }).done(function () {
                        ReloadCompanies();
                        ShowAlert("Deleted!", "Company was successfully deleted", "success");
                    }).fail(function (data) {
                        ShowError(data);
                    });
                }
            });
        }

        function GetButton(companyCode, companyName, resellerCode) {
            return '<div class="btn-group"> \
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> \
                                    Modify <span class="caret"></span> \
                                </button> \
                                <ul class="dropdown-menu" role="menu"> \
                                    <li><a href="javascript:;" onclick="javascript:GetCompany(\''+companyCode+'\',\''+resellerCode+'\');">Edit</a></li> \
                                    <li class="divider"></li> \
                                    <li><a href="javascript:;" onclick="javascript:DeleteCompany(\''+companyCode+'\',\''+companyName+'\');">Delete</a></li> \
                                </ul> \
                        </div>';
        }
    </script>
}