@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_master.cshtml";
}

@section PAGEHEADER {
    <div class="pageheader">
        <h2><i class="fa fa-file-powerpoint-o"></i> @Text.words.ActivesyncPlans </h2>
    </div>
}

@section HEAD {
}

@helper CheckBox(string id, string name, dynamic label, dynamic isChecked)
{
    <div class="form-group">
        <label class="col-sm-2 control-label">&nbsp;</label>
        <div class="col-sm-4">
            <div class="ckbox ckbox-success">
                <input id="@id" name="@name" type="checkbox" value="true" @(isChecked ? "checked" : "") />
                <label for='@id'>@label</label>
            </div>
        </div>
    </div>
}

@helper TextBox(string id, string name, dynamic label, dynamic value)
{
    <div class="form-group">
        <label class="col-sm-2 control-label" for="@id">@label</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="@id" name="@name" value="@value" />
        </div>
    </div>
}

@helper DropDown(string id, string name, dynamic label, dynamic selected, dynamic options)
{
    <div class="form-group">
        <label class="col-sm-2 control-label" for="@id">@label</label>
        <div class="col-sm-10">
            <select id="@id" name="@name" class="form-control chosen-select">
                @foreach (dynamic option in options) {
                    <option value="@option.Value" @(selected == option.Value ? "selected" : "") >@option.Name</option>
                }
            </select>
        </div>
    </div>
}

<form id="ActivesyncPlansForm" method="post" action="">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-dark nav-justified">
                <li class="active"><a href="#general" data-toggle="tab">General</a></li>
                <li><a href="#password" data-toggle="tab">Password</a></li>
                <li><a href="#sync-settings" data-toggle="tab">Sync Settings</a></li>
                <li><a href="#device" data-toggle="tab">Device</a></li>
                <li><a href="#device-applications" data-toggle="tab">Device Applications</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="general">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="ActivesyncPlanID">@Text.words.Plan</label>
                            <div class="col-sm-10">
                                <select id="ActivesyncPlanID" name="ActivesyncPlanID" class="form-control chosen-select">
                                    <option value="0" selected>--- Create New ---</option>
                                @foreach (dynamic plan in Model.Plans)
                                {
                                    <option value="@plan.ID">@plan.Name</option>
                                }
                                </select>
                            </div>
                        </div>
                        @TextBox("DisplayName", "DisplayName", (string)Text.words.DisplayName, (string)Model.DisplayName)
                        @TextBox("Description", "Description", (string)Text.words.Description, (string)Model.Description)
                        @TextBox("RefreshIntervalInHours", "RefreshIntervalInHours", (string)Text.words.RefreshIntervalInHours, (string)Model.RefreshIntervalInHours)
                        @CheckBox("AllowNonProvisionableDevices", "AllowNonProvisionableDevices", (string)Text.words.AllowNonProvisionableDevices, (bool)Model.AllowNonProvisionableDevices)
                    </div>
                </div>

                <div class="tab-pane" id="password">
                    <div class="form-horizontal">
                        @CheckBox("RequirePassword", "RequirePassword", Text.words.RequirePassword, Model.RequirePassword)
                        @CheckBox("RequireAlphanumericPassword", "RequireAlphanumericPassword", Text.words.RequireAlphanumericPassword, Model.RequireAlphanumericPassword)
                        @TextBox("MinCharacterSets", "MinCharacterSets", Text.words.MinNumberCharacterSets, Model.MinCharacterSets)
                        @CheckBox("EnablePasswordRecovery", "EnablePasswordRecovery", Text.words.EnablePasswordRecovery, Model.EnablePasswordRecovery)
                        @CheckBox("RequireEncryptionOnDevice", "RequireEncryptionOnDevice", Text.words.RequireEncryptionOnDevice, Model.RequireEncryptionOnDevice)
                        @CheckBox("RequireEncryptionOnStorageCard", "RequireEncryptionOnStorageCard", Text.words.RequireEncryptionOnStorageCard, Model.RequireEncryptionOnStorageCard)
                        @CheckBox("AllowSimplePassword", "AllowSimplePassword", Text.words.AllowSimplePassword, Model.AllowSimplePassword)
                        @TextBox("NumberOfFailedAttempted", "NumberOfFailedAttempted", Text.words.NumberOfFailedAttempted, Model.NumberOfFailedAttempted)
                        @TextBox("MinimumPasswordLength", "MinimumPasswordLength", Text.words.MinimumPasswordLength, Model.MinimumPasswordLength)
                        @TextBox("InactivityTimeoutInMinutes", "InactivityTimeoutInMinutes", Text.words.InactivityTimeoutInMinutes, Model.InactivityTimeoutInMinutes)
                        @TextBox("PasswordExpirationInDays", "PasswordExpirationInDays", Text.words.PasswordExpirationInDays, Model.PasswordExpirationInDays)
                        @TextBox("EnforcePasswordHistory", "EnforcePasswordHistory", Text.words.EnforcePasswordHistory, Model.EnforcePasswordHistory)
                    </div>
                </div>

                <div class="tab-pane" id="sync-settings">
                    <div class="form-horizontal">
                        @DropDown(
                            "IncludePastCalendarItems",
                            "IncludePastCalendarItems",
                            Text.words.IncludePastCalendarItems,
                            Model.IncludePastCalendarItems,
                            new[] {
                                new { Value = "All", Name = Text.words.Timespan_All },
                                new { Value = "TwoWeeks", Name = Text.words.Timespan_TwoWeeks },
                                new { Value = "OneMonth", Name = Text.words.Timespan_OneMonth },
                                new { Value = "ThreeMonths", Name = Text.words.Timespan_ThreeMonths },
                                new { Value = "SixMonths", Name = Text.words.Timespan_SixMonths },
                            })
                        @DropDown(
                            "IncludePastEmailItems",
                            "IncludePastEmailItems",
                            Text.words.IncludePastEmailItems,
                            Model.IncludePastEmailItems,
                            new[] {
                                new { Value = "All", Name = Text.words.Timespan_All },
                                new { Value = "OneDay", Name = Text.words.Timespan_OneDay },
                                new { Value = "ThreeDays", Name = Text.words.Timespan_ThreeDays },
                                new { Value = "OneWeek", Name = Text.words.Timespan_OneWeek },
                                new { Value = "TwoWeeks", Name = Text.words.Timespan_TwoWeeks },
                                new { Value = "OneMonth", Name = Text.words.Timespan_OneMonth },
                            })
                        @TextBox("LimitEmailSizeInKB", "LimitEmailSizeInKB", Text.words.LimitEmailSizeInKB, Model.LimitEmailSizeInKB)
                        @CheckBox("AllowDirectPushWhenRoaming", "AllowDirectPushWhenRoaming", Text.words.RequireManualSyncWhenRoaming, !Model.AllowDirectPushWhenRoaming)
                        @CheckBox("AllowHTMLEmail", "AllowHTMLEmail", Text.words.AllowHTMLEmail, Model.AllowHTMLEmail)
                        @CheckBox("AllowAttachmentsDownload", "AllowAttachmentsDownload", Text.words.AllowAttachmentsDownload, Model.AllowAttachmentsDownload)
                        @TextBox("MaximumAttachmentSizeInKB", "MaximumAttachmentSizeInKB", Text.words.MaximumAttachmentSizeInKB, Model.MaximumAttachmentSizeInKB)
                    </div>
                </div>

                <div class="tab-pane" id="device">
                    <h5>@Text.phrases.ActiveSync_ExchangeEnterpriseMessage</h5>
                    <br />
                    <div class="form-horizontal">
                        @CheckBox("AllowRemovableStorage", "AllowRemovableStorage", Text.words.AllowRemovableStorage, Model.AllowRemovableStorage)
                        @CheckBox("AllowCamera", "AllowCamera", Text.words.AllowCamera, Model.AllowCamera)
                        @CheckBox("AllowWiFi", "AllowWiFi", Text.words.AllowWiFi, Model.AllowWiFi)
                        @CheckBox("AllowInfrared", "AllowInfrared", Text.words.AllowInfrared, Model.AllowInfrared)
                        @CheckBox("AllowInternetSharing", "AllowInternetSharing", Text.words.AllowInternetSharing, Model.AllowInternetSharing)
                        @CheckBox("AllowRemoteDesktop", "AllowRemoteDesktop", Text.words.AllowRemoteDesktop, Model.AllowRemoteDesktop)
                        @CheckBox("AllowDesktopSync", "AllowDesktopSync", Text.words.AllowDesktopSync, Model.AllowDesktopSync)
                        @CheckBox("AllowTextMessaging", "AllowTextMessaging", Text.words.AllowTextMessaging, Model.AllowTextMessaging)
                        @DropDown(
                            "AllowBluetooth",
                            "AllowBluetooth",
                            Text.words.AllowBluetooth,
                            Model.AllowBluetooth,
                            new[] {
                                new { Value = "Allow", Name = Text.words.BluetoothOptions_Allow },
                                new { Value = "HandsfreeOnly", Name = Text.words.BluetoothOptions_HandsfreeOnly },
                                new { Value = "Disable", Name = Text.words.BluetoothOptions_Disable },
                            })
                    </div>
                </div>

                <div class="tab-pane" id="device-applications">
                    <h5>@Text.phrases.ActiveSync_ExchangeEnterpriseMessage</h5>
                    <br />
                    <div class="form-horizontal">
                        @CheckBox("AllowBrowser", "AllowBrowser", Text.words.AllowBrowser, Model.AllowBrowser)
                        @CheckBox("AllowConsumerMail", "AllowConsumerMail", Text.words.AllowConsumerMail, Model.AllowConsumerMail)
                        @CheckBox("AllowUnsignedApplications", "AllowUnsignedApplications", Text.words.AllowUnsignedApplications, Model.AllowUnsignedApplications)
                        @CheckBox("AllowUnsignedInstallationPackages", "AllowUnsignedInstallationPackages", Text.words.AllowUnsignedInstallationPackages, Model.AllowUnsignedInstallationPackages)
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" onclick="javascript: DeletePlan();">@Text.words.Delete</button>
                    <button class="btn btn-success">@Text.words.Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section CUSTOMJAVASCRIPT{
    <script type="text/javascript">
    </script>
}
