@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_master.cshtml";
}

@section PAGEHEADER{
    <div class="pageheader">
        <h2><i class="fa fa-file-powerpoint-o"></i> @Text.words.CompanyPlans </h2>
    </div>
}

<form id="editDomainForm" method="post" action="">
    <div class="panel panel-dark">
        <div class="panel-heading">
            <h3 class="panel-title">@Text.words.CompanyPlans</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <h4 class="text-info">General</h4>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Text.words.Plan</label>
                            <div class="col-sm-8">
                                @CloudPanel.code.CPHtmlHelpers.GetCompanyPlans()
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Text.words.DisplayName</label>
                            <div class="col-sm-8">
                                <input type="text" id="OrgPlanName" name="OrgPlanName" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Text.words.MaxUsers</label>
                            <div class="col-sm-8">
                                <input type="text" id="MaxUsers" name="MaxUsers" class="form-control spinner" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Text.words.MaxDomains</label>
                            <div class="col-sm-8">
                                <input type="text" id="MaxDomains" name="MaxDomains" class="form-control spinner" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <h4 class="text-info">Exchange</h4>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Text.words.MaxMailboxes</label>
                            <div class="col-sm-8">
                                <input type="text" id="MaxExchangeMailboxes" name="MaxExchangeMailboxes" class="form-control spinner" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Text.words.MaxContacts</label>
                            <div class="col-sm-8">
                                <input type="text" id="MaxExchangeContacts" name="MaxExchangeContacts" class="form-control spinner" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Text.words.MaxGroups</label>
                            <div class="col-sm-8">
                                <input type="text" id="MaxExchangeDistLists" name="MaxExchangeDistLists" class="form-control spinner" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Text.words.MaxResourceMailboxes</label>
                            <div class="col-sm-8">
                                <input type="text" id="MaxExchangeResourceMailboxes" name="MaxExchangeResourceMailboxes" class="form-control spinner" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Text.words.MaxMailPublicFolders</label>
                            <div class="col-sm-8">
                                <input type="text" id="MaxExchangeMailPublicFolders" name="MaxExchangeMailPublicFolders" class="form-control spinner" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <h4 class="text-info">Citrix</h4>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Text.words.MaxUsers</label>
                            <div class="col-sm-8">
                                <input type="text" id="MaxTerminalServerUsers" name="MaxTerminalServerUsers" class="form-control spinner" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" onclick="javascript: DeletePlan();">@Text.words.Delete</button>
            <button class="btn btn-success">@Text.words.Save</button>
        </div>
    </div>
</form>

<!-- Delete Plan -->
<form id="deletePlan" method="post" action="">
    <input type="hidden" name="_method" value="DELETE" />
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">@Text.phrases.Plans_DeleteTitle</h4>
                </div>
                <div class="modal-body">
                    @Text.phrases.Plans_DeleteConfirm1 <b><span id="spanPlanName"></span></b>?
                    <input id="OrgPlanId" name="OrgPlanId" type="text" hidden="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Text.words.Close</button>
                    <input id="btnDelete" type="submit" value="@Text.words.Delete" class="btn btn-danger" />
                </div>
            </div>
        </div>
    </div>
</form>

@section CUSTOMJAVASCRIPT {
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script type="text/javascript">
            $(document).ajaxStart(function () {
                $.blockUI({
                    message: '<p>Processing</p><img src="@Url.Content("~/Content/images/loaders/loader25.gif")" />'
                });
            });
            $(document).ajaxStop($.unblockUI);

            $(document).ready(function () {

                $(".spinner").spinner({ min: 0 });
                $("#OrgPlanID").change(function () {

                    if ($(this).val() > 0) {
                        $.ajax({
                            type: "GET",
                            url: "@Url.Content("~/ajax/plans/company/")" + $(this).val(),
                            async: false,
                            success: function (data) {
                                $.each(data, function (k, v) {
                                    var field = $("#" + k);

                                    if (field.length) {
                                        if (field.is("input:text")) {
                                            field.val(v);
                                        }
                                    }
                                });
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError);

                            }
                        });
                    } else {
                        $("input[type=text]").val("");
                    }
                });
            });

        function DeletePlan()
        {
            var id = $("#editDomainForm #OrgPlanID option:selected").val();
            var name = $("#editDomainForm #OrgPlanID option:selected").text();

            if (id > 0) {
                $("#spanPlanName").text(name);
                $("#deletePlan input[name=OrgPlanID").text(id);
                $("#deleteModal").modal("show");
            }
        }
    </script>
}
