@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_master.cshtml";
}

@section PAGEHEADER{
    <div class="pageheader">
        <h2><i class="fa fa-gear"></i> @Text.words.Settings</h2>
    </div>
}

<div class="error"></div>

<form id="SettingsForm" method="post" action="">
    <input type="hidden" name="_method" value="PUT" />
    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-tabs nav-dark nav-justified">
                <li class="active"><a href="#general" data-toggle="tab"><strong>@Text.words.General</strong></a></li>
                <li><a href="#ActiveDirectory" data-toggle="tab"><strong>@Text.words.ActiveDirectory</strong></a></li>
                <li><a href="#Exchange" data-toggle="tab"><strong>@Text.words.Exchange</strong></a></li>
            </ul>

            <div class="tab-content" id="validateForm">

                <!-- General -->
                <div class="tab-pane active" id="general">
                    <div class="form-horizontal">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.CompanyName <span class="asterisk">*</span></label>
                                    <div class="col-sm-4">
                                        <input id="CompanyName" name="CompanyName" type="text" class="form-control" value="@CloudPanel.Base.Config.Settings.CompanyName" required />
                                    </div>
                                </div>

                                <div class="mb40"></div>

                                <div class="form-group">
                                    <label class="col-sm-2 text-right">@Text.words.ResellerModule</label>
                                    <div class="col-sm-4">
                                        <div class="toggle toggle-success "></div>
                                        <input type="checkbox" disabled="disabled" id="ResellersEnabled" name="ResellersEnabled" hidden="hidden" @(CloudPanel.Base.Config.Settings.ResellersEnabled ? "checked" : "")>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 text-right">@Text.words.ExchangeModule</label>
                                    <div class="col-sm-4">
                                        <div class="toggle toggle-success "></div>
                                        <input type="checkbox" disabled="disabled" id="ExchangeModule" name="ExchangeModule" hidden="hidden" @(CloudPanel.Base.Config.Settings.ExchangeModule ? "checked" : "")>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 text-right">@Text.words.CitrixModule</label>
                                    <div class="col-sm-4">
                                        <div class="toggle toggle-success "></div>
                                        <input type="checkbox" disabled="disabled" id="CitrixModule" name="CitrixModule" hidden="hidden" @(CloudPanel.Base.Config.Settings.CitrixModule ? "checked" : "")>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 text-right">@Text.words.LyncModule</label>
                                    <div class="col-sm-4">
                                        <div class="toggle toggle-success "></div>
                                        <input type="checkbox" disabled="disabled" id="LyncModule" name="LyncModule" hidden="hidden" @(CloudPanel.Base.Config.Settings.LyncModule ? "checked" : "")>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Active Directory -->
                <div class="tab-pane" id="ActiveDirectory">
                    <div class="form-horizontal">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Organizational Units</h4>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.HostingOU <span class="asterisk">*</span></label>
                                    <div class="col-sm-4">
                                        <input id="HostingOU" name="HostingOU" type="text" class="form-control" placeholder="OU=Hosting,DC=domain,DC=local" value="@CloudPanel.Base.Config.Settings.HostingOU" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.UsersOU</label>
                                    <div class="col-sm-4">
                                        <input id="UsersOU" name="UsersOU" type="text" class="form-control" placeholder="" value="@CloudPanel.Base.Config.Settings.UsersOU" />
                                    </div>
                                </div>

                                <div class="mb40"></div>
                                <h4>Access</h4>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.DomainController <span class="asterisk">*</span></label>
                                    <div class="col-sm-4">
                                        <input id="PrimaryDC" name="PrimaryDC" type="text" class="form-control" placeholder="dc01.domain.local" value="@CloudPanel.Base.Config.Settings.PrimaryDC" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.Username <span class="asterisk">*</span></label>
                                    <div class="col-sm-4">
                                        <input id="Username" name="Username" type="text" class="form-control" placeholder="DOMAIN\Administrator" value="@CloudPanel.Base.Config.Settings.Username" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.Password <span class="asterisk">*</span></label>
                                    <div class="col-sm-4">
                                        <input id="DecryptedPassword" name="DecryptedPassword" type="password" class="form-control" placeholder="" required />
                                    </div>
                                </div>

                                <div class="mb40"></div>
                                <h4>Rights</h4>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.SuperAdmins <span class="asterisk">*</span></label>
                                    <div class="col-sm-4">
                                        <input id="SuperAdmins" name="SuperAdmins" type="text" class="form-control" placeholder="Domain Admins,CloudPanel Admins" value="@String.Join(",", CloudPanel.Base.Config.Settings.SuperAdmins)" required />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.BillingAdmins </label>
                                    <div class="col-sm-4">
                                        <input id="BillingAdmins" name="BillingAdmins" type="text" class="form-control" placeholder="Domain Admins,CloudPanel Billing" value="@String.Join(",", CloudPanel.Base.Config.Settings.BillingAdmins)" required />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Exchange -->
                <div class="tab-pane" id="Exchange">
                    <div class="form-horizontal">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.ConnectionType <span class="asterisk">*</span></label>
                                    <div class="col-sm-4">
                                        <select id="ExchangeConnection" name="ExchangeConnection" class="form-control mb15">
                                            @if (CloudPanel.Base.Config.Settings.ExchangeConnection.Equals("Kerberos", StringComparison.CurrentCultureIgnoreCase))
                                            {
                                                <option value="Basic">@Text.words.BasicAuthentication</option>
                                                <option value="Kerberos" selected>@Text.words.KerberosAuthentication</option>
                                            }
                                            else
                                            {
                                                <option value="Basic" selected>@Text.words.BasicAuthentication</option>
                                                <option value="Kerberos">@Text.words.KerberosAuthentication</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.Version<span class="asterisk">*</span></label>
                                    <div class="col-sm-4">
                                        <select id="ExchangeVersion" name="ExchangeVersion" class="form-control mb15">
                                            <option value="2010" @(CloudPanel.Base.Config.Settings.ExchangeVersion.Equals(2010) ? "selected" : "")>Exchange 2010 SP2+</option>
                                            <option value="2013" @(CloudPanel.Base.Config.Settings.ExchangeVersion.Equals(2013) ? "selected" : "")>Exchange 2013 CU2+</option>
                                            <option value="20135" @(CloudPanel.Base.Config.Settings.ExchangeVersion.Equals(20135) ? "selected" : "")>Exchange 2010 SP1 CU5+</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.ServerFQDN</label>
                                    <div class="col-sm-4">
                                        <input id="ExchangeServer" name="ExchangeServer" type="text" class="form-control" placeholder="loadbalancer.domain.local" value="@CloudPanel.Base.Config.Settings.ExchangeServer" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.PublicFolderServer</label>
                                    <div class="col-sm-4">
                                        <input id="ExchangePFServer" name="ExchangePFServer" type="text" class="form-control" placeholder="mailbox.domain.local" value="@CloudPanel.Base.Config.Settings.ExchangePFServer" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">@Text.words.Databases</label>
                                    <div class="col-sm-4">
                                        <input id="ExchangeDatabases" name="ExchangeDatabases" type="text" class="form-control" placeholder="DB01,DB02,CustomerABC" value="@String.Join(",", CloudPanel.Base.Config.Settings.ExchangeDatabases)" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">&nbsp;</label>
                                    <div class="col-sm-4">
                                        <div class="ckbox ckbox-success">
                                            <input id="ExchangePFEnabled" name="ExchangePFEnabled" type="checkbox" value="true" @(CloudPanel.Base.Config.Settings.ExchangePFEnabled ? "checked" : "") />
                                            <label for='ExchangePFEnabled'>@Text.words.EnablePublicFolders</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">&nbsp;</label>
                                    <div class="col-sm-4">
                                        <div class="ckbox ckbox-success">
                                            <input id="ExchangeSSL" name="ExchangeSSL" type="checkbox" value="true" @(CloudPanel.Base.Config.Settings.ExchangeSSL ? "checked" : "") />
                                            <label for='ExchangeSSL'>@Text.words.EnableExchangeSSL</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 25px;">
        <div class="panel-footer" style="text-align: right">
            <input id="btnSubmit" name="btnSubmit" type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

@section CUSTOMJAVASCRIPT{
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/content/js/toggles.min.js"></script>
    <script type="text/javascript">

        function LoadToggleButtons() {
            $(".toggle").each(function () {
                $(this).toggles({ checkbox: $(this).parent().find("input[type=checkbox]"), on: $(this).parent().find("input[type=checkbox]").is(":checked") });
            });
        }

        $(document).ready(function () {

            $(document).ajaxStart(function () {
                $.blockUI({
                    message: '<p>Processing</p><img src="@Url.Content("~/Content/images/loaders/loader25.gif")" />'
                });
            });
            $(document).ajaxStop($.unblockUI);

            LoadToggleButtons();

            // Chosen Select
            jQuery("select").chosen({ 'width': '100%', 'white-space': 'nowrap' });

            // Error Message In One Container
            jQuery("#SettingsForm").validate({
                ignore: [],
                rules: {
                    required: { required: true }
                },
                messages: {
                    CompanyName: { required: "@Text.phrases.Settings_ReqCompanyName" },
                    HostingOU: { required: "@Text.phrases.Settings_ReqHostingOU" },
                    Username: { required: "@Text.phrases.Settings_ReqUsername" },
                    DecryptedPassword: { required: "@Text.phrases.Settings_ReqPassword" },
                    PrimaryDC: { required: "@Text.phrases.Settings_ReqPrimaryDC" }
                },
                errorLabelContainer: jQuery("div.error")
            });

        });
</script>
}