@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "__master.cshtml";
}
@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li class="active">Dashboard</li>
    </ol>

    <h1>Dashboard</h1>
</div>

<div class="container">
    <!-- Top -->
    <div class="row">
            <div class="col-md-2">
                <a href="#" class="shortcut-tiles tiles-info">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-user"></i></div>
                        <div class="pull-right"><span class="badge">@Model.totalResellers</span></div>
                    </div>
                    <div class="tiles-footer">
                        Resellers
                    </div>
                </a>
            </div> <!-- Resellers -->
            <div class="col-md-2">
                <a href="#" class="shortcut-tiles tiles-orange">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-building"></i></div>
                        <div class="pull-right"><span class="badge">@Model.totalCompanies</span></div>
                    </div>
                    <div class="tiles-footer">
                        Companies
                    </div>
                </a>
            </div> <!-- Companies-->
            <div class="col-md-2">
                <a href="#" class="shortcut-tiles tiles-success">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-users"></i></div>
                        <div class="pull-right"><span class="badge">@Model.totalUsers</span></div>
                    </div>
                    <div class="tiles-footer">
                        Users
                    </div>
                </a>
            </div> <!-- Users -->
            <div class="col-md-2">
                <a href="#" class="shortcut-tiles tiles-magenta">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-envelope"></i></div>
                        <div class="pull-right"><span class="badge">@Model.totalMailboxes</span></div>
                    </div>
                    <div class="tiles-footer">
                        Mailboxes
                    </div>
                </a>
            </div> <!-- Mailboxes -->
            <div class="col-md-2">
                <a href="#" class="shortcut-tiles tiles-midnightblue">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-upload"></i></div>
                        <div class="pull-right"><span class="badge">@Model.totalAllocated</span></div>
                    </div>
                    <div class="tiles-footer">
                        Mailbox Space Allocated
                    </div>
                </a>
            </div> <!-- Mailbox Space Allocated -->
            <div class="col-md-2">
                <a href="#" class="shortcut-tiles tiles-green">
                    <div class="tiles-body">
                        <div class="pull-left"><i class="fa fa-download"></i></div>
                        <div class="pull-right"><span class="badge">0GB</span></div>
                    </div>
                    <div class="tiles-footer">
                        Mailbox Space Used
                    </div>
                </a>
            </div> <!-- Mailbox Space Used -->
        </div>

    <!-- Graphs -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <h4 class="pull-left" style="margin: 0 0 20px;">User Report <small>(weekly)</small></h4>
                            <div class="btn-group pull-right">
                                <a href="javascript:;" class="btn btn-default btn-sm active">this week</a>
                                <a href="javascript:;" class="btn btn-default btn-sm ">previous week</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="site-statistics" style="height:250px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-grape">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <h4 class="pull-left" style="margin: 0 0 20px;">Top Customers <small>(with most users)</small></h4>
                            <div class="btn-group pull-right">
                                <a href="javascript:GetTopCustomers(3);" class="btn btn-default btn-sm">Top 3</a>
                                <a href="javascript:GetTopCustomers(5);" class="btn btn-default btn-sm">Top 5</a>
                                <a href="javascript:GetTopCustomers(10);" class="btn btn-default btn-sm ">Top 10</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="top5Customers" style="height:250px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JAVASCRIPT{
    <script src="~/Content/plugins/charts-flot/jquery.flot.min.js"></script>
    <script src="~/Content/plugins/charts-flot/jquery.flot.resize.min.js"></script>
    <script src="~/Content/plugins/charts-flot/jquery.flot.orderBars.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/moment/moment-with-locales.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GetTopCustomers(3);
        });

        function GetTopCustomers(x)
        {
            $.ajax({
                type: "GET",
                url: "@Url.Content("~/charts/super/customers/top/")" + x,
                dataType: "json",
                success: function (data) {
                    var users = new Array();
                    var mailboxes = new Array();
                    var companyNames = new Array();

                    $.each(data, function () {
                        var count = 1;
                        $.each(this, function (k, v) {
                            users.push(new Array(count, v.totalUsers));
                            mailboxes.push(new Array(count, v.totalMailboxes));
                            companyNames.push(new Array(count, v.companyName));
                            count = count + 1;
                        });
                    });

                    var ds = new Array();
                    ds.push({ data: users, label: "Users", bars: { show: true, barWidth: 0.2, order: 1 } });
                    ds.push({ data: mailboxes, label: "Mailboxes", bars: { show: true, barWidth: 0.2, order: 2 } });

                    $.plot($("#top5Customers"), ds, {
                        series: { bars: { show: true, fill: 0.75, lineWidth: 0 } },
                        grid: { labelMargin: 10, hoverable: true, clickable: true, tickColor: "#e6e7e8", borderWidth: 0 },
                        colors: ["#8D96AF", "#556b8d"],
                        xaxis: { tickColor: "transparent", ticks: companyNames, tickDecimals: 0, autoscaleMargin: 0, font: { color: '#8c8c8c', size: 12 } },
                        yaxis: { ticks: 4, tickDecimals: 0, tickColor: "#e3e4e6", font: { color: '#8c8c8c', size: 12 } },
                        legend: { labelBoxBorderColor: 'transparent' }
                    });

                    var previousPointBar = null;
                    $("#top5Customers").bind("plothover", function (event, pos, item) {
                        $("#x").text(pos.x.toFixed(2));
                        $("#y").text(pos.y.toFixed(2));
                        if (item) {
                            if (previousPointBar != item.dataIndex) {
                                previousPointBar = item.dataIndex;

                                $("#tooltip").remove();
                                var x = item.datapoint[0].toFixed(2),
                                    y = item.datapoint[1].toFixed(2);

                                showTooltip(item.pageX + 20, item.pageY, item.series.label + ": " + Math.round(y));

                            }
                        } else {
                            $("#tooltip").remove();
                            previousPointBar = null;
                        }
                    });
                }
            });
        }

        function showTooltip(x, y, contents) {
            $('<div id="tooltip" class="tooltip top in"><div class="tooltip-inner">' + contents + '<\/div><\/div>').css({
                display: 'none',
                top: y - 40,
                left: x - 55,
            }).appendTo("body").fadeIn(200);
        }
    </script>
}