@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "__master.cshtml";
}
@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li class="active">Dashboard</li>
    </ol>
</div>

<div class="container">
    <!-- Top -->
    <div class="row">
        <div class="col-md-2">
            <a href="#" class="shortcut-tiles tiles-success">
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-users"></i></div>
                    <div class="pull-right"><span class="badge">1</span></div>
                </div>
                <div class="tiles-footer">
                    Users
                </div>
            </a>
        </div> <!-- Users -->
        <div class="col-md-2">
            <a href="#" class="shortcut-tiles tiles-magenta">
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-envelope"></i></div>
                    <div class="pull-right"><span class="badge">2</span></div>
                </div>
                <div class="tiles-footer">
                    Mailboxes
                </div>
            </a>
        </div> <!-- Mailboxes -->
        <div class="col-md-2">
            <a href="#" class="shortcut-tiles tiles-midnightblue">
                <div class="tiles-body">
                    <div class="pull-left"><i class="fa fa-upload"></i></div>
                    <div class="pull-right"><span class="badge">3</span></div>
                </div>
                <div class="tiles-footer">
                    Mailbox Space Allocated
                </div>
            </a>
        </div> <!-- Mailbox Space Allocated -->
    </div>

    <!-- Graphs -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 clearfix">
                            <h4 class="pull-left" style="margin: 0 0 20px;">System History</h4>
                            <div class="btn-group pull-right">
                                <a href="javascript:GetHistoryOverview(6);" class="btn btn-default btn-sm">6 Months</a>
                                <a href="javascript:GetHistoryOverview(12);" class="btn btn-default btn-sm">12 Months</a>
                                <a href="javascript:GetHistoryOverview(24);" class="btn btn-default btn-sm">24 Months</a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="historyOverview" style="height:250px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-grape">
                <div class="panel-heading">
                    <h4>Top Customers by Users</h4>
                    <div class="options">
                        <div class="btn-group">
                            <button class="btn btn-default btn-xs" onclick="javascript: GetTopCustomers(5);"> Top 5 </button>
                            <button class="btn btn-default btn-xs" onclick="javascript: GetTopCustomers(10);"> Top 10 </button>
                            <button class="btn btn-default btn-xs" onclick="javascript: GetTopCustomers(15);"> Top 15 </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="list-group topXCustomers">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>

@section JAVASCRIPT{
    <script src="~/Content/plugins/charts-flot/jquery.flot.min.js"></script>
    <script src="~/Content/plugins/charts-flot/jquery.flot.orderBars.min.js"></script>
    <script src="~/Content/plugins/charts-flot/jquery.flot.pie.min.js"></script>
    <script src="~/Content/plugins/charts-highcharts/js/highcharts.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/moment/moment-with-locales.js"></script>
    <script type="text/javascript">
        var exchangeModule = @CloudPanel.Base.Config.Settings.ExchangeModule.ToString().ToLower()

        $(document).ready(function () {
            GetTopCustomers(8);
            GetHistoryOverview(6);

            if (exchangeModule) {
                GetExchangeDatabases();
                GetTopMailboxes(5);
            }
        });

        function randValue() {
            return (Math.floor(Math.random() * (2)));
        }

        function GetHistoryOverview(pastMonths) {

            var request = $.ajax({
                url: "@Url.Content("~/charts/super/history/months/")" + pastMonths,
                type: "GET",
                dataType: "json"
            });

            request.done(function (data) {
                var areaChart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'historyOverview',
                        backgroundColor: 'transparent'
                    },
                    title: { text: '' },
                    credits: { enabled: false },
                    xAxis: { categories: data.months },
                    yAxis: { min: 0, title: { text: '' } },
                    plotOptions: {
                        series: { connectNulls: true },
                        area: { fillOpacity: 0.2 }
                    },
                    tooltip: {
                        pointFormat: '{series.name} <b>{point.y:,.0f}</b>',
                    },
                });

                areaChart.addSeries({ name: "Users", data: data.users });

                if (data.exchange.length)
                    areaChart.addSeries({ name: "Mailboxes", data: data.exchange });

                if (data.citrix.length)
                    areaChart.addSeries({ name: "Citrix", data: data.citrix });

                areaChart.redraw();
            });

            request.fail(function (jqXHR, textStatus) {
                alert(textStatus);
            });
        }

        function GetTopCustomers(x) {
            $(".topXCustomers").block();
            $.getJSON("@Url.Content("~/dashboard/customers/top/")" + x, function (data) {
                $(".topXCustomers").empty();
                $.each(data.data, function (index, customers) {
                    $(".topXCustomers").append('<a href="@Url.Content("~/company/")' + customers.companyCode + '/overview" class="list-group-item"><span class="badge">' + customers.totalUsers + '</span> <i class="fa fa-building"></i> ' + customers.companyName + ' </a>');
                });
            })
                .fail(function (data) {
                    ShowError(data.responseJSON.error);
                })
                .always(function (data) {
                    $(".topXCustomers").unblock();
                });
        }

        function GetTopMailboxes(x) {
            $(".topMailboxes").block();
            $.getJSON("@Url.Content("~/dashboard/customers/top/mailboxes/")" + x, function (data) {
                var ds = [];
                $.each(data.data, function (index, top) {
                    ds.push({ label: top.companyName, data: top.totalUsers });
                });

                $.plot('#topExchangeMailboxes', ds, {
                    series: {
                        pie: {
                            show: true, radius: 1,
                            innerRadius: 0.5,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: function (label, series) {
                                    return '<div style="border:1px solid grey;font-size:8pt;text-align:center;padding:5px;color:white;">' +
                                            label + '<br/>' +
                                            series.data[0][1] +
                                            '</div>';
                                },
                                background: { opacity: 0.5, color: '#000' }
                            }
                        }
                    },
                    legend: { show: false },
                    grid: { hoverable: true, clickable: true }
                });
            })
                .fail(function (data) {
                    ShowError(data.responseJSON.error);
                })
                .always(function (data) {
                    $(".topMailboxes").unblock();
                });
        }

        function GetExchangeDatabases() {
            $(".mailboxDatabases").block();
            $.getJSON("@Url.Content("~/dashboard/exchange/databases")", function (data) {

                var names = [];
                var sizes = [];
                $.each(data.databases, function (index, database) {
                    names.push(new Array(index, database.identity));
                    sizes.push(new Array(index, database.databaseSizeInGB));
                });

                var ds = [];
                ds.push({ data: sizes, label: "Size In GB", bars: { show: true, barWidth: 0.2, order: 1 } });

                $.plot($("#exchangeDatabases"), ds, {
                    series: { bars: { show: true, fill: 0.75, 'align': "center" } },
                    grid: { hoverable: true, clickable: false, borderWidth: 0 },
                    xaxis: { tickColor: "transparent", ticks: names, tickDecimals: 2, font: { color: '#8c8c8c', size: 12 } },
                    yaxis: { tickDecimals: 2 },
                    legend: { labelBoxBorderColor: 'transparent' }
                });

                var previousPointBar = null;
                $("#exchangeDatabases").bind("plothover", function (event, pos, item) {
                    $("#x").text(pos.x.toFixed(2));
                    $("#y").text(pos.y.toFixed(2));
                    if (item) {
                        if (previousPointBar != item.dataIndex) {
                            previousPointBar = item.dataIndex;

                            $("#tooltip").remove();
                            var x = item.datapoint[0].toFixed(2),
                                y = item.datapoint[1].toFixed(2);

                            showTooltip(item.pageX + 20, item.pageY, item.series.label + ": " + y);

                        }
                    } else {
                        $("#tooltip").remove();
                        previousPointBar = null;
                    }
                });
            })
                .fail(function (data) {
                    ShowError(data.responseJSON.error);
                })
                .always(function (data) {
                    $(".mailboxDatabases").unblock();
                });
        }

        function showTooltip(x, y, contents) {
            $('<div id="tooltip" class="tooltip top in"><div class="tooltip-inner">' + contents + '<\/div><\/div>').css({
                display: 'none',
                top: y - 40,
                left: x - 55,
            }).appendTo("body").fadeIn(200);
        }
    </script>
}