@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel
@using CloudPanel.Base.Enums

@{
    Layout = "__master.cshtml";
}

@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-toggle/toggles.css" rel="stylesheet" />
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/company/@this.RenderContext.Context.GetCompanyCode()/overview">@this.RenderContext.Context.GetCompanyName()</a></li>
        <li><a href="~/company/@this.RenderContext.Context.GetCompanyCode()/domains">Domains</a></li>
        <li class="active">Edit</li>
    </ol>

    <h1>Edit Domain</h1>
</div>

<div class="container">
    <div class="row">
        <form id="editDomain" action="" method="post">
            <input type="hidden" name="_method" value="PUT" />
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Edit Domain</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Domain Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Domain" name="Domain" value="@Model.domain.Domain" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Domain Type</label>
                                <div class="col-sm-6">
                                    <select id="DomainType" name="DomainType" class="form-control">
                                        <option value="0">Regular Domain</option>
                                        <optgroup id="exchange-domains" label="Email">
                                            <option value="@DomainType.Authoritative" @(Model.domain.DomainType == DomainType.Authoritative ? "selected" : "")>Authoritative</option>
                                            <option value="@DomainType.InternalRelay" @(Model.domain.DomainType == DomainType.InternalRelay ? "selected" : "")>Internal Relay</option>
                                            <option value="@DomainType.ExternalRelay" @(Model.domain.DomainType == DomainType.ExternalRelay ? "selected" : "")>External Relay</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-6">
                                    <input id="IsDefault" name="IsDefault" type="checkbox" @(Model.domain.IsDefault == true ? "value='true' checked" : "value='false'") /> Is Default
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-toolbar text-right">
                            <button class="btn-default btn" type="button" onclick="javascript: history.back();">Cancel</button>
                            <button class="btn-primary btn" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section JAVASCRIPT{
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/form-toggle/toggle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}