@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel

@{
    Layout = "__master.cshtml";
    string companyCode = this.RenderContext.Context.GetCompanyCode();

    var mailboxUsers = CloudPanel.Modules.UsersModule.GetMailboxUsers(Model.CompanyCode);
    var resourceMailboxes = CloudPanel.Modules.ResourceModule.GetResources(companyCode);
    var groups = CloudPanel.Modules.GroupsModule.GetGroups(companyCode);
    var contacts = CloudPanel.Modules.ContactsModule.GetContacts(companyCode);
}

@section HEAD{
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-tokenfield/bootstrap-tokenfield.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-select2/select2.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-toggle/css/toggles-full.css" rel="stylesheet" />
    <link href="~/Content/js/jqueryui.min.css" rel="stylesheet" />
    <style type="text/css">
        span.tab-space {
            padding-left: 0.5em;
        }

        ul .dropdown-menu {
            left: 0 !important;
        }
        .toggle-on {
            padding-right: 15px;
        }
        .toggle-off {
            padding-right: 8px;
        }
    </style>
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/company/@companyCode/overview">@this.RenderContext.Context.GetCompanyName()</a></li>
        <li><a href="~/company/@companyCode/users">Users</a></li>
        <li class="active">Edit User</li>
    </ol>

    <h1>Edit User</h1>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="~/content/demo/avatar/johansson.png" alt="" class="pull-left" style="margin: 0 20px 20px 0">
                            <div class="table-responsive">
                                <h3><strong>@Model.DisplayName</strong></h3><table class="table table-condensed">
                                    <tbody>
                                        <tr>
                                            <td>Phone</td>
                                            <td>@Model.TelephoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><a href="mailto:@Model.Email">@Model.Email</a></td>
                                        </tr>
                                        <tr>
                                            <td>Department</td>
                                            <td>@Model.Department</td>
                                        </tr>
                                        <tr>
                                            <td>Job Title</td>
                                            <td>@Model.JobTitle</td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td>@(Model.IsEnabled == false ? "Disabled" : "Enabled")</td>
                                        </tr>
                                        <tr>
                                            <td>Social</td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(Model.Skype)) { <a href="skype:@Model.Skype?call" class="btn btn-xs"><i class="fa fa-skype"></i></a> }
                                                @if (!string.IsNullOrEmpty(Model.Facebook)) { <a href="@Model.Facebook" class="btn btn-xs"><i class="fa fa-facebook"></i></a> }
                                                @if (!string.IsNullOrEmpty(Model.Twitter)) { <a href="@Model.Twitter" class="btn btn-xs"><i class="fa fa-twitter"></i></a> }
                                                @if (!string.IsNullOrEmpty(Model.Dribbble)) { <a href="@Model.Dribbble" class="btn btn-xs"><i class="fa fa-dribbble"></i></a> }
                                                @if (!string.IsNullOrEmpty(Model.Tumblr)) { <a href="@Model.Tumblr" class="btn btn-xs"><i class="fa fa-tumblr"></i></a> }
                                                @if (!string.IsNullOrEmpty(Model.LinkedIn)) { <a href="@Model.LinkedIn" class="btn btn-xs"><i class="fa fa-linkedin"></i></a> }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3>Notes</h3>
                            <p>
                                @Model.Notes
                            </p>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-container tab-success">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#user" data-toggle="tab">User</a></li>
                                    @if (CloudPanel.CPStaticHelpers.IsExchangeEnabled(companyCode)) {
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Email <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#mailbox" data-toggle="tab" onclick="javascript:GetMailbox();">Edit</a></li>
                                                <li><a href="#litigationhold" data-toggle="tab" onclick="javascript:GetLitigationHold();">Litigation Hold</a></li>
                                                <li><a href="#archiving" data-toggle="tab" onclick="javascript:GetArchiving();">Archiving</a></li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                                <div class="tab-content">
                                    <!-- USER SECTION -->
                                    <div class="tab-pane clearfix active" id="user">
                                        <div class="col-md-12">
                                            <form id="userForm" action="" method="post" class="form-horizontal" data-parsley-validate="true">
                                                <div id="accordioninuser" class="accordion-group">
                                                    <div class="accordion-item">

                                                        <!-- USER GENERAL -->
                                                        <a class="accordion-title" data-toggle="collapse" data-parent="#accordioninuser" href="#collapseinUserGeneral"><h4>General</h4></a>
                                                        <div id="collapseinUserGeneral" class="collapse in">
                                                            <div class="accordion-body">
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Username</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="UserPrincipalName" name="UserPrincipalName" type="text" value="@Model.UserPrincipalName" class="form-control input-sm" data-parsley-required="true" readonly>
                                                                        <input id="DistinguishedName" name="DistinguishedName" type="hidden" value="@Model.DistinguishedName" data-parsley-required="true" />
                                                                        <input id="sAMAccountName" name="sAMAccountName" type="hidden" value="@Model.sAMAccountName" data-parsley-required="true" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Display Name</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="DisplayName" name="DisplayName" type="text" value="@Model.DisplayName" class="form-control input-sm" data-parsley-required="true">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Firstname</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="Firstname" name="Firstname" type="text" value="@Model.Firstname" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Middlename</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="Middlename" name="Middlename" type="text" value="@Model.Middlename" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Lastname</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="Lastname" name="Lastname" type="text" value="@Model.Lastname" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="accordion-item">
                                                        <!-- USER COMPANY -->
                                                        <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninuser" href="#collapseinUserCompany"><h4>Company</h4></a>
                                                        <div id="collapseinUserCompany" class="collapse">
                                                            <div class="accordion-body">
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Company</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="Company" name="Company" type="text" value="@Model.Company" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Department</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="Department" name="Department" type="text" value="@Model.Department" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Job Title</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="JobTitle" name="JobTitle" type="text" value="@Model.JobTitle" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Phone</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="TelephoneNumber" name="TelephoneNumber" type="text" value="@Model.TelephoneNumber" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Fax</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="Fax" name="Fax" type="text" value="@Model.Fax" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <!-- USER PERSONAL -->
                                                        <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninuser" href="#collapseinUserPersonal"><h4>Personal</h4></a>
                                                        <div id="collapseinUserPersonal" class="collapse">
                                                            <div class="accordion-body">
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Home Phone</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="HomePhone" name="HomePhone" type="text" value="@Model.HomePhone" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Mobile Phone</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="MobilePhone" name="MobilePhone" type="text" value="@Model.MobilePhone" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Street</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="Street" name="Street" type="text" value="@Model.Street" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">City</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="City" name="City" type="text" value="@Model.City" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">State</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="State" name="State" type="text" value="@Model.State" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Zip Code</label>
                                                                    <div class="col-sm-6">
                                                                        <input id="PostalCode" name="PostalCode" type="text" value="@Model.PostalCode" class="form-control input-sm">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="smallinput" class="col-sm-3 control-label">Country</label>
                                                                    <div class="col-sm-6">
                                                                        @CloudPanel.CPHtmlHelpers.GetCountries(Model.Country)
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <!-- SOCIAL -->
                                                        <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninuser" href="#collapseinUserSocial"><h4>Social</h4></a>
                                                        <div id="collapseinUserSocial" class="collapse">
                                                            <div class="accordion-body">
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">Skype</label>
                                                                    <div class="col-sm-6">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-skype"></i></span>
                                                                            <input id="Skype" name="Skype" type="text" class="form-control" value="@Model.Skype" placeholder="Your Skype Name">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">Facebook</label>
                                                                    <div class="col-sm-6">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                                                            <input id="Facebook" name="Facebook" type="text" value="@Model.Facebook" class="form-control" data-parsley-type="url">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">Twitter</label>
                                                                    <div class="col-sm-6">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                                                            <input id="Twitter" name="Twitter" type="text" value="@Model.Twitter" class="form-control" data-parsley-type="url">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">Dribbble</label>
                                                                    <div class="col-sm-6">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-dribbble"></i></span>
                                                                            <input id="Dribbble" name="Dribbble" type="text" value="@Model.Dribbble" class="form-control" data-parsley-type="url">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">Tumblr</label>
                                                                    <div class="col-sm-6">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-tumblr"></i></span>
                                                                            <input id="Tumblr" name="Tumblr" type="text" value="@Model.Tumblr" class="form-control" data-parsley-type="url">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-3 control-label">LinkedIn</label>
                                                                    <div class="col-sm-6">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                                                                            <input id="LinkedIn" name="LinkedIn" type="text" value="@Model.LinkedIn" class="form-control" data-parsley-type="url">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="accordion-item"> <!-- Notes -->
                                                        <a class="accordion-title collapsed" data-toggle="collapse" data-parent="#accordioninuser" href="#collapseinUserNotes"><h4>Notes</h4></a>
                                                        <div id="collapseinUserNotes" class="collapse">
                                                            <div class="accordion-body">
                                                                <textarea id="Notes" name="Notes" rows="2" cols="20"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- END USER SECTION -->

                                    <!-- MAILBOX SECTION -->
                                    <div class="tab-pane clearfix" id="mailbox">
                                        <form id="mailboxForm" action="" method="post" class="form-horizontal" data-parsley-validate="true">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-sm-10 control-label">Mailbox Enabled:</label>
                                                    <div class="col-sm-2 control-label">
                                                        <div id="IsMailboxEnabledToggle" class="toggle toggle-modern"></div>
                                                        <div style="display: none">
                                                            <input id="IsMailboxEnabled" name="IsMailboxEnabled" type="checkbox" value="false" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="MailboxEnabledDiv" style="display: none">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Primary Email</label>
                                                        <div class="col-sm-8">
                                                            <div class="input-daterange input-group">
                                                                <input id="EmailFirst" name="EmailFirst" type="text" class="form-control input-small">
                                                                <span class="input-group-addon">@@</span>
                                                                <select id="EmailDomain" name="EmailDomain" class="form-control input-small">
                                                                    @foreach (var domain in CloudPanel.Modules.DomainsModule.GetAcceptedDomains(Model.CompanyCode))
                                                                    {
                                                                        <option value="@domain.Domain">@domain.Domain</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="smallinput" class="col-sm-3 control-label">Plan</label>
                                                        <div class="col-sm-6">
                                                            <select id="MailboxPlan" name="MailboxPlan" class="form-control input-sm">
                                                                @foreach (var plan in CloudPanel.Modules.PlansModules.MailboxPlanModule.GetMailboxPlans(Model.CompanyCode))
                                                                {
                                                                    <option value="@plan.MailboxPlanID"
                                                                            data-min="@plan.MailboxSizeMB"
                                                                            data-max="@(plan.MaxMailboxSizeMB > plan.MailboxSizeMB ? plan.MaxMailboxSizeMB : plan.MailboxSizeMB)"
                                                                            data-description="@plan.MailboxPlanDesc"
                                                                            @(Model.MailboxPlan == plan.MailboxPlanID ? "selected" : "" )>
                                                                        @plan.MailboxPlanName
                                                                    </option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group slidergroup">
                                                        <label for="smallinput" class="col-sm-3 control-label"></label>
                                                        <div class="col-sm-6">
                                                            <p>
                                                                <label for="MailboxSize">Set Size in MB:</label>
                                                                <input type="text" id="MailboxSize" name="MailboxSize" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                                            </p>
                                                            <div id="MailboxPlanSlider"></div>
                                                            <input id="SizeInMB" name="SizeInMB" type="hidden" />
                                                        </div>
                                                    </div>

                                                    <hr />
                                                    <h4>Modify Email Aliases</h4>
                                                    <p><small>Add additional email addresses to this mailbox by typing in the email and pressing enter after each email.</small></p><br />

                                                    <div class="form-group">
                                                        <label for="smallinput" class="col-sm-3 control-label">Email Aliases</label>
                                                        <div class="col-sm-6">
                                                            <input id="EmailAliases" name="EmailAliases" type="text" class="form-control input-sm">
                                                        </div>
                                                    </div>

                                                    <hr />
                                                    <h4>Modify Mailbox Permissions</h4>
                                                    <p><small>Give the ability for other people to access this mailbox.</small></p><br />

                                                    <div class="form-group">
                                                        <label for="smallinput" class="col-sm-3 control-label">Full Access</label>
                                                        <div class="col-sm-6">
                                                            <select id="EmailFullAccess" name="EmailFullAccess" class="populate" style="width: 100%" multiple>
                                                                @foreach (var user in mailboxUsers)
                                                                {
                                                                if (!string.IsNullOrEmpty(user.sAMAccountName))
                                                                    <option value="@user.sAMAccountName">@user.DisplayName</option>
                                                                }
                                                            </select>
                                                            <br />
                                                            <input id="AutoMapping" name="AutoMapping" type="checkbox" value="true" checked /> Auto Mapping Enabled
                                                            <input id="EmailFullAccessOriginal" name="EmailFullAccessOriginal" type="hidden" value="" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="smallinput" class="col-sm-3 control-label">Send-As Access</label>
                                                        <div class="col-sm-6">
                                                            <select id="EmailSendAs" name="EmailSendAs" class="populate" style="width: 100%" multiple>
                                                                @foreach (var user in mailboxUsers)
                                                                {
                                                                if (!string.IsNullOrEmpty(user.sAMAccountName))
                                                                    <option value="@user.sAMAccountName">@user.DisplayName</option>
                                                                }
                                                            </select>
                                                            <input id="EmailSendAsOriginal" name="EmailSendAsOriginal" type="hidden" value="" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="smallinput" class="col-sm-3 control-label">Send-On-Behalf Access</label>
                                                        <div class="col-sm-6">
                                                            <select id="EmailSendOnBehalf" name="EmailSendOnBehalf" class="populate" style="width: 100%" multiple>
                                                                @foreach (var user in mailboxUsers)
                                                                {
                                                                if (!string.IsNullOrEmpty(user.sAMAccountName))
                                                                    <option value="@user.CanoncialName">@user.DisplayName</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <hr />
                                                    <h4>Forward Email</h4>
                                                    <p><small>Choose to forward your email to another person or not</small></p><br />
                                                    <div class="form-group">
                                                        <label for="smallinput" class="col-sm-3 control-label">Full Access</label>
                                                        <div class="col-sm-6">
                                                            <select id="ForwardTo" name="ForwardTo" class="populate" style="width: 100%">
                                                                <option value="0">Forwarding Disabled</option>
                                                                <optgroup label="Users">
                                                                    @if (mailboxUsers != null) {
                                                                        foreach (var user in mailboxUsers)
                                                                        {
                                                                            <option value="@user.CanoncialName">@user.DisplayName</option>
                                                                        }
                                                                    }
                                                                </optgroup>
                                                                <optgroup label="Contacts">
                                                                    @if (contacts != null ) {
                                                                        foreach (var contact in contacts)
                                                                        {
                                                                            <option value="@contact.CanoncialName">@contact.DisplayName</option>
                                                                        }
                                                                    }
                                                                </optgroup>
                                                                <optgroup label="Groups">
                                                                    @if (groups != null) {
                                                                    foreach (var group in groups)
                                                                    {
                                                                        <option value="@group.CanonicalName">@group.DisplayName</option>
                                                                    }
                                                                    }
                                                                </optgroup>
                                                                <optgroup label="Resources">
                                                                    @if (resourceMailboxes != null) {
                                                                        foreach (var resource in resourceMailboxes)
                                                                        {
                                                                            <option value="@resource.CanonicalName">@resource.DisplayName</option>
                                                                        }
                                                                    }
                                                                </optgroup>
                                                            </select>
                                                            <br />
                                                            <input id="DeliverToMailboxAndForward" name="DeliverToMailboxAndForward" value="false" type="checkbox" /> Deliver to Mailbox and Forward
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    <!-- END MAILBOX SECTION -->

                                    <!-- LITIGATION HOLD SECTION -->
                                    <div class="tab-pane clearfix" id="litigationhold">
                                        <form id="litigationholdForm" action="" method="post" class="form-horizontal" data-parsley-validate="true">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-sm-11 control-label">Litigation Hold Enabled:</label>
                                                    <div class="col-sm-1 control-label">
                                                        <input id="LitigationHoldEnabled" name="LitigationHoldEnabled" type="checkbox" value="false" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="smallinput" class="col-sm-3 control-label">Hold until</label>
                                                    <div class="col-sm-6">
                                                        <input id="LitigationHoldDuration" name="LitigationHoldDuration" type="text" value="" class="form-control input-sm">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="smallinput" class="col-sm-3 control-label">Url</label>
                                                    <div class="col-sm-6">
                                                        <input id="RetentionUrl" name="RetentionUrl" type="text" value="" class="form-control input-sm">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="smallinput" class="col-sm-3 control-label">Message</label>
                                                    <div class="col-sm-6">
                                                        <textarea id="RetentionComment" name="RetentionComment" rows="2" cols="20" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END LITIGATION HOLD SECTION -->

                                    <!-- ARCHIVING SECTION -->
                                    <div class="tab-pane clearfix" id="archiving">
                                        <form id="archivingForm" action="" method="post" class="form-horizontal" data-parsley-validate="true">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-sm-11 control-label">Archiving Enabled:</label>
                                                    <div class="col-sm-1 control-label">
                                                        <input id="ArchivingEnabled" name="ArchivingEnabled" type="checkbox" @( (Model.MailboxPlan > 0 && Model.ArchivePlan > 0) ? "value='true' checked": "false") />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="smallinput" class="col-sm-3 control-label">Plan</label>
                                                    <div class="col-sm-6">
                                                        <select id="ArchivePlan" name="ArchivePlan" class="form-control input-sm">
                                                            @foreach (var plan in CloudPanel.Modules.PlansModules.ArchivePlanModule.GetArchivePlans(companyCode))
                                                            {
                                                                <option value="@plan.ArchivingID" 
                                                                        data-size="@plan.ArchiveSizeMB" 
                                                                        data-description="@plan.Description"
                                                                        @(plan.ArchivingID == Model.ArchivePlan ? "selected" : "")>@plan.DisplayName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END ARCHIVING SECTION -->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="btn-toolbar text-right">
                            <button id="submit" class="btn-primary btn" type="button" onclick="javascript:Submit();">Save</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section JAVASCRIPT{
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/form-tokenfield/bootstrap-tokenfield.min.js"></script>
    <script src="~/Content/plugins/form-select2/select2.min.js"></script>
    <script src="~/Content/plugins/form-toggle/toggles.js"></script>
    <script src="~/Content/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/plugins/form-ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        var mailboxUpdated = false;
        var litigationHoldUpdated = false;
        var archivingUpdated = false;

        $(document).ready(function () {

            // Checkboxes to set the appropriate values
            $("input[type=checkbox]").click(function () {
                if ($(this).is(':checked')) {
                    $(this).val("true");
                } else {
                    $(this).val("false");
                }
            });

            // Date picker for litigation hold
            $('#LitigationHoldDuration').datepicker({startDate: "+1d"});

            // Select2 for full access, send-as, and send on behalf
            $(".populate").select2({
                width: 'resolve'
            });

            // Editor for the user's notes field
            CKEDITOR.replace('Notes');
            
            // Toggle for enabling / disabling mailboxes
            MailboxToggle();

            // Slider for mailbox plans
            SetSlider(@Model.AdditionalMB);
            $("#MailboxPlan").change(function() {
                SetSlider(0);
            });

            // Tokenfield for email aliases
            $('#EmailAliases')
              .on('beforeCreateToken', function (e) {
                  var token = e.token.value.split('|');
                  e.token.value = token[1] || token[0];
                  e.token.label = token[1] ? token[0] + ' (' + token[1] + ')' : token[0];
              })
              .on('afterCreateToken', function (e) {
                  var re = /\S+@@\S+\.\S+/
                  var valid = re.test(e.token.value);
                  if (!valid) {
                      $(e.relatedTarget).addClass('invalid');
                  }
              })
              .on('beforeEditToken', function (e) {
                  if (e.token.label !== e.token.value) {
                      var label = e.token.label.split(' (');
                      e.token.value = label[0] + '|' + e.token.value;
                  }
              })
              .tokenfield();
        });

        // Toggle for the mailbox enabled or not
        function MailboxToggle() {
            var isEnabled = @(Model.MailboxPlan > 0 ? "true" : "false");
            $('#IsMailboxEnabledToggle').toggles({
                checkbox: $("#IsMailboxEnabled"),
                on: isEnabled
            });

            if (isEnabled) {
                $("#MailboxEnabledDiv").show();
                $("#IsMailboxEnabled").val("true");
            }

            $('#IsMailboxEnabledToggle').on('toggle', function (e, active) {
                if (active) {
                    $("#MailboxEnabledDiv").show();
                    $("#IsMailboxEnabled").val("true");
                } else {
                    $("#MailboxEnabledDiv").hide();
                    swal({ 
                        title: "Are you sure?",   
                        text: "Disabling a mailbox will delete all emails and data from the mailbox.",   
                        type: "warning",   
                        showCancelButton: true,   
                        confirmButtonColor: "#DD6B55",   
                        confirmButtonText: "Yes, disable it!",   
                        cancelButtonText: "No!",   
                        closeOnConfirm: true,   
                        closeOnCancel: true 
                    }, function(isConfirm){
                        var myToggle = $('#IsMailboxEnabledToggle').data('toggles');
                        if (isConfirm) {    
                            myToggle.toggle(false);
                            $("#IsMailboxEnabled").val("false");
                        } 
                        else {     
                            myToggle.toggle(true);
                            $("#IsMailboxEnabled").val("true");
                        } 
                    });
                }
            });
        }

        // Slider for the mailbox plan. Will not show if value is zero
        function SetSlider(value) {
            var select = $("#MailboxPlan option:selected");
            var min = $(select).data("min");
            var max = $(select).data("max");

            if (value == 0)
                value = min;
            else
                value = value + min;

            if (min > 0) {
                $(".slidergroup").show();
                $("#MailboxPlanSlider").slider({
                    value: value,
                    min: min,
                    max: max,
                    step: 256,
                    slide: function( event, ui ) {
                        $("#MailboxSize").val(ui.value);
                        $("#SizeInMB").val(ui.value);
                    }
                });
                $("#MailboxSize").val(value);
                $("#SizeInMB").val(value);
            } else {
                $(".slidergroup").hide();
            }
        }

        // Query data from Exchange for the mailbox
        function GetMailbox() {
            var isEnabledOriginal = @Model.MailboxPlan;
            if (mailboxUpdated == false && isEnabledOriginal > 0) {
                $.blockUI();
                $("#WaitMessage #message").text("Retrieving mailbox information");

                $.ajax({ 
                    type: "GET",
                    url: "@Html.RenderContext.Context.Request.Url/mailbox",
                })
                  .done(function(data) {
                      console.log(data);

                      $("#EmailFirst").val(data.mailbox.emailFirst);
                      $("#EmailDomain").val(data.mailbox.emailDomain);
                      $("#EmailAliases").tokenfield('setTokens', data.mailbox.emailAliases);

                      $("#EmailFullAccess").select2("val", data.mailbox.emailFullAccess);
                      $.each(data.mailbox.emailFullAccess, function (i, val) {
                          if ($("#EmailFullAccess option[value='" + val + "']").length > 0) {
                              $("#EmailFullAccessOriginal").val($("#EmailFullAccessOriginal").val() + val + ",");
                          }
                      });

                      $("#EmailSendAs").select2("val", data.mailbox.emailSendAs);
                      $.each(data.mailbox.emailSendAs, function (i, val) {
                          if ($("#EmailSendAs option[value='" + val + "']").length > 0) {
                              $("#EmailSendAsOriginal").val($("#EmailSendAsOriginal").val() + val + ",");
                          }
                      });

                      $("#EmailSendOnBehalf").select2("val", data.mailbox.emailSendOnBehalf);
                      $("#DeliverToMailboxAndForward").val(data.mailbox.deliverToMailboxAndForward);
                      $("#DeliverToMailboxAndForward").prop("checked", data.mailbox.deliverToMailboxAndForward);

                      // Litigation HoldLitigationHoldEnabled
                      $("#LitigationHoldEnabled").val(data.mailbox.litigationHoldEnabled);
                      $("#RetentionComment").val(data.mailbox.retentionComment);
                      $("#RetentionUrl").val(data.mailbox.retentionUrl);

                      mailboxUpdated = true;
                  })
                  .fail(function(data) {
                      ShowError(data);
                  })
                  .always(function() {
                      $.unblockUI();
                  });
            }
            else {
                mailboxUpdated = true;
                mailboxAlreadyRetrieved = true;
            }
        }

        // Query data from Exchange and set litigation hold
        function GetLitigationHold() {
            if (mailboxUpdated == false)
                GetMailbox();

            litigationHoldUpdated = true;
        }

        // Query data from Exchange for archive mailbox settings
        function GetArchiving() {
            archivingUpdated = true;
        }

        // Submit our chain requests
        function Submit() {
            $.blockUI();
            SubmitUser().then(SubmitMailbox)
                        .then(SubmitLitigation)
                        .then(SubmitArchive)
                        .fail(function (data) {
                            ShowError(data);
                        })
                        .always(function () {
                            $.unblockUI();
                        })
                        .done(function () {
                            window.location.href = "@Url.Content("~/company/" + Model.CompanyCode +"/users")";
                        });

        }

        // Submits the new user
        function SubmitUser() {
            $("#WaitMessage #message").text("Updating user settings");
            var userForm = $("#userForm").serialize();
            return $.ajax({ 
                type: "PUT",
                data: userForm
            });
        }

        function SubmitMailbox() {
            if (mailboxUpdated) {
                $("#WaitMessage #message").text("Updating mailbox settings");
                var mailboxForm = $("#mailboxForm").serialize();
                return $.ajax({ 
                    type: "PUT",
                    url: "@Html.RenderContext.Context.Request.Url/mailbox",
                    data: mailboxForm
                });
            }
            else
                return;
        }

        function SubmitLitigation() {
            if (litigationHoldUpdated) {
                $("#WaitMessage #message").text("Updating litigation hold settings");
                var litigationholdForm = $("#litigationholdForm").serialize();
                return $.ajax({ 
                    type: "PUT",
                    url: "@Html.RenderContext.Context.Request.Url/mailbox/litigationhold",
                    data: litigationholdForm
                });
            }
            else
                return;
        }

        function SubmitArchive() {
            if (archivingUpdated) {
                $("#WaitMessage #message").text("Updating archiving settings");
                var archivingForm = $("#archivingForm").serialize();
                return $.ajax({ 
                    type: "PUT",
                    url: "@Html.RenderContext.Context.Request.Url/mailbox/archive",
                    data: archivingForm
                });
            }
            else
                return;
        }

    </script>
}