@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel

@{
    Layout = "__master.cshtml";
    string companyCode = this.RenderContext.Context.GetCompanyCode();
}

@section HEAD{
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-tokenfield/bootstrap-tokenfield.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-select2/select2.css" rel="stylesheet" />
    <link href="~/Content/js/jqueryui.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-datepicker/css/datepicker3.css" rel="stylesheet" />
    <style type="text/css">
        span.tab-space {
            padding-left: 0.5em;
        }
        ul .dropdown-menu {
            left: 0 !important;
        }
    </style>
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/company/@companyCode/overview">@this.RenderContext.Context.GetCompanyName()</a></li>
        <li><a href="~/company/@companyCode/users">Users</a></li>
        <li class="active">Edit User</li>
    </ol>

    <h1>Edit User</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="editUser" action="" method="post" data-parsley-validate>
                <input type="hidden" name="_method" value="PUT" />
                <div id="blockui" class="panel panel-primary">
                    <div class="panel-heading">Edit User</div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="domtabs">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tab-container tab-danger">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#user" data-toggle="tab">User</a></li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Email <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#mailbox" data-toggle="tab" onclick="javascript:Mailbox('@Model.UserPrincipalName');">Edit</a></li>
                                                        <li><a href="#litigationhold" data-toggle="tab" onclick="javascript:LitigationHold('@Model.UserPrincipalName');">Litigation Hold</a></li>
                                                        <li><a href="#archiving" data-toggle="tab" onclick="javascript:Archiving('@Model.UserPrincipalName');">Archiving</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="tab-content">

                                                <!-- USER SETTINGS -->
                                                <div class="tab-pane active" id="user">
                                                    <h3>General</h3><br />
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">First Name</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Firstname" name="Firstname">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Middle Name</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Middlename" name="Middlename" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Last Name</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Lastname" name="Lastname">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Display Name</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="DisplayName" name="DisplayName" data-parsley-required="true">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-9">
                                                                <label class="checkbox-inline">
                                                                    <input id="ChangePasswordNextLogin" name="ChangePasswordNextLogin" type="checkbox" value="false" /> Change password on next login
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <h3>Company Information</h3><br />
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Company Admin</label>
                                                            <div class="col-sm-6">
                                                                <select id="RoleID" name="RoleID" style="width: 100%" class="populate">
                                                                    @CloudPanel.Modules.PermissionsModule.GetRolesWithOptions(companyCode, null)
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Company</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Company" name="Company">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Department</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Department" name="Department">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Job Title</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="JobTitle" name="JobTitle">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Phone</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="TelephoneNumber" name="TelephoneNumber">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Fax</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Fax" name="Fax">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <h3>Personal Information</h3><br />
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Home Phone</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="HomePhone" name="HomePhone">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Mobile Phone</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="MobilePhone" name="MobilePhone">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Street</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Street" name="Street">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">City</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="City" name="City">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">State</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="State" name="State">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Zip Code</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="PostalCode" name="PostalCode">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Country</label>
                                                            <div class="col-sm-6">
                                                                @CloudPanel.CPHtmlHelpers.GetCountries("")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- MAILBOX SETTINGS -->
                                                <div class="tab-pane" id="mailbox">

                                                    <!-- Enable or Disable Email Toggle Switch -->
                                                    <div id="EmailDisabled" class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-3">
                                                                <label class="checkbox-inline">
                                                                    <input id="EmailEnabledCheck" name="EmailEnabledCheck" type="checkbox" value="false" /> Email Enabled
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr />

                                                    <!-- Email Is Enabled DIV -->
                                                    <div id="DivEmailEnabled" style="display: none">
                                                        <h3>Modify the user's email settings</h3><br />
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Plan</label>
                                                                <div class="col-sm-6">
                                                                    @CloudPanel.CPHtmlHelpers.GetMailboxPlans(0, companyCode, "", "MailboxPlan")
                                                                    <p id="mailboxPlanDescription"></p>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Email</label>
                                                                <div class="col-sm-6">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" id="EmailFirst" name="EmailFirst">
                                                                        <span class="input-group-addon">@@</span>
                                                                        @CloudPanel.CPHtmlHelpers.GetAcceptedDomains(companyCode, "EmailDomain")
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="sliderDiv" class="form-group">
                                                                <label class="col-sm-3 control-label">Size</label>
                                                                <div class="col-sm-6" style="padding-top: 13px">
                                                                    <div id="slider-range-min" class="slider bg-yellow"></div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <p class="help-block">
                                                                        <div class="slider-value"> 
                                                                            <span class="slider-value" id="slider-range-min-amount"></span>
                                                                            <input id="SizeInMB" name="SizeInMB" type="hidden" />
                                                                        </div>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                        <h3>Email Aliases</h3><br />
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Email Aliases</label>
                                                                <div class="col-sm-6">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" id="EmailAliases" name="EmailAliases" data-limit="10" />
                                                                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                        <h3>Permissions</h3><br />
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Full Access</label>
                                                                <div class="col-sm-6">
                                                                    <select id="EmailFullAccess" name="EmailFullAccess" style="width: 100%" class="populate" multiple>
                                                                        @if (Model.MailboxUsers != null) { 
                                                                            foreach (var u in Model.MailboxUsers)
                                                                            {
                                                                                <option value="@u.sAMAccountName">@u.DisplayName</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                    <input id="AutoMapping" name="AutoMapping" type="checkbox" value="true" checked /> AutoMapping
                                                                    <input id="EmailFullAccessOriginal" name="EmailFullAccessOriginal" type="hidden" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Send As</label>
                                                                <div class="col-sm-6">
                                                                    <select id="EmailSendAs" name="EmailSendAs" style="width: 100%" class="populate" multiple>
                                                                        @if (Model.MailboxUsers != null)
                                                                        {
                                                                            foreach (var u in Model.MailboxUsers)
                                                                            {
                                                                                <option value="@u.sAMAccountName">@u.DisplayName</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                    <input id="EmailSendAsOriginal" name="EmailSendAsOriginal" type="hidden" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Send on Behalf</label>
                                                                <div class="col-sm-6">
                                                                    <select id="EmailSendOnBehalf" name="EmailSendOnBehalf" style="width: 100%" class="populate" multiple>
                                                                        @if (Model.MailboxUsers != null)
                                                                        {
                                                                            foreach (var u in Model.MailboxUsers)
                                                                            {
                                                                                <option value="@CloudPanel.Base.AD.LdapConverters.ToCanonicalName(u.DistinguishedName)">@u.DisplayName</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Litigation Hold -->
                                                <div id="litigationhold" class="tab-pane">
                                                    <h3>Litigation Hold</h3><br />
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <label class="checkbox-inline">
                                                                    <input id="LitigationHoldEnabled" name="LitigationHoldEnabled" type="checkbox" value="false" /> Litigation Hold Enabled
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">URL</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="RetentionUrl" name="RetentionUrl" data-parsley-type="url">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Notes</label>
                                                            <div class="col-sm-6">
                                                                <textarea name="RetentionComment" id="RetentionComment" cols="50" rows="4" class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Archiving -->
                                                <div id="archiving" class="tab-pane">
                                                    <h3>Archiving</h3><br />
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <label class="checkbox-inline">
                                                                    <input id="ArchivingEnabledChecked" name="ArchivingEnabledChecked" type="checkbox" value="false" /> Archiving Enabled
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Display Name</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="ArchiveName" name="ArchiveName">
                                                            </div>
                                                            <div class="col-sm-3">
                                                                <p class="help-block">
                                                                    <span data-toggle="tooltip" data-original-title="Name of the archive mailbox. This is the name displayed to users in Microsoft Office Outlook Web App and Microsoft Outlook. The default name is Online Archive - <Mailbox User's Display Name>" class="tooltip-ex">
                                                                        <i class="fa fa-question-circle"></i>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Plan</label>
                                                            <div class="col-sm-6">
                                                                <select id="ArchivePlan" name="ArchivePlan" style="width: 100%" class="populate">
                                                                    @CloudPanel.Modules.PlansModules.ArchivePlanModule.GetArchivePlansWithOptions(companyCode, null)
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="btn-toolbar text-right">
                            <button class="btn-default btn" type="button" onclick="javascript: history.back()">Cancel</button>
                            <button id="submit" name="submit" class="btn-primary btn" type="submit">Submit</button>
                        </div>
                    </div>
                </div>

                <input id="IsEmailModified" name="IsEmailModified" type="checkbox" value="false" hidden />
                <input id="IsLitigationHoldModified" name="IsLitigationHoldModified" type="checkbox" value="false" hidden />
                <input id="IsArchivingModified" name="IsArchivingModified" type="checkbox" value="false" hidden />
            </form>
        </div>
    </div>
</div>

@section JAVASCRIPT{
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/form-tokenfield/bootstrap-tokenfield.min.js"></script>
    <script src="~/Content/plugins/form-select2/select2.min.js"></script>
    <script src="~/Content/plugins/form-toggle/toggle.min.js"></script>
    <script src="~/Content/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        var mailboxRetrieved = false;
        var litigationRetrieved = false;
        var originalEmailEnabled = false;

        $(document).ready(function () {
            $("input[type=checkbox]").click(function () {
                if ($(this).is(':checked')) {
                    $(this).val("true");
                } else {
                    $(this).val("false");
                }
            });

            $("#EmailEnabledCheck").change(function () {
                var chkBox = $("#EmailEnabledCheck");

                if (chkBox.is(":checked")) {
                    $("#DivEmailEnabled").show();
                } else {
                    $("#DivEmailEnabled").hide();
                }
            });

            $("#MailboxPlan").change(function () {
                var option = $("#MailboxPlan option:selected");
                SetSlider(option.data("size"), option.data("maxsize"), option.data("size"), option.data("description"));
            });

            var option = $("#MailboxPlan option:selected");
            SetSlider(option.data("size"), option.data("maxsize"), option.data("size"), option.data("description"));

            /* Email Aliases token field */
            SetupEmailTokenField();

            /* Multiple fields */
            $(".populate").select2({
                width: 'resolve'
            });

            // Get user properties from SQL
            GetUser('@Model.UserPrincipalName');


        });

        //
        // Get the user properties from SQL
        //
        function GetUser(upn) {
            $("#blockui").block();
            $.getJSON("", function (data) {
                    $("#Firstname").val(data.user.firstname);
                    $("#Middlename").val(data.user.middlename);
                    $("#Lastname").val(data.user.lastname);
                    $("#DisplayName").val(data.user.displayName);
                    $("#Company").val(data.user.company);
                    $("#Department").val(data.user.department);
                    $("#JobTitle").val(data.user.jobTitle);
                    $("#TelephoneNumber").val(data.user.telephoneNumber);
                    $("#Fax").val(data.user.fax);
                    $("#HomePhone").val(data.user.homePhone);
                    $("#MobilePhone").val(data.user.mobilePhone);
                    $("#Street").val(data.user.street);
                    $("#City").val(data.user.city);
                    $("#State").val(data.user.state);
                    $("#PostalCode").val(data.user.postalCode);
                    $("#Country").select2("val", data.user.country);

                    if (data.user.roleID > 0) {
                        $("#RoleID").select2("val", data.user.roleID);
                    }

                    if (data.user.mailboxPlan > 0) {
                        originalEmailEnabled = true;

                        $("#EmailEnabledCheck").click();
                        $("#MailboxPlan").val(data.user.mailboxPlan);

                        var option = $("#MailboxPlan option:selected");
                        if (data.user.additionalMB > 0) {
                            SetSlider(option.data("size"), option.data("maxsize"), option.data("size") + data.user.additionalMB, option.data("description"));                            
                        } else {
                            SetSlider(option.data("size"), option.data("maxsize"), option.data("size"), option.data("description"));
                        }

                        if (data.user.archivePlan > 0) {
                            $("#ArchivingEnabledChecked").click();
                            $("#ArchivePlan").val(data.user.archivePlan);
                        }
                    } else {
                        originalMailboxPlan = 0;
                    }

                    $('input[type="submit"]').removeAttr('disabled');
                })
                .done(function (data) {
                })
                .fail(function (data) {
                    $('#submit').attr('disabled', 'disabled');
                    AppendError("There was an error processing your request. Please contact support.");
                })
                .always(function (data) {
                    $("#blockui").unblock();
                });
        }

        //
        // Get the mailbox properties from Exchange if the user was originally enabled for Exchange
        //
        function Mailbox(upn) {
            $("#IsEmailModified").prop('checked', true);
            $("#IsEmailModified").val(true);

            if (originalEmailEnabled) {
                GetMailboxValues(upn);
            }
        }

        //
        // Get the litigation hold properties from Exchange if the user was originally enabled for Exchange
        //
        function LitigationHold(upn) {
            $("#IsLitigationHoldModified").prop('checked', true);
            $("#IsLitigationHoldModified").val(true);
            $("#LitigationHoldDate").datepicker({ startDate: "today" });

            if (originalEmailEnabled && mailboxRetrieved == false) { // Only get litigation hold data if user was enabled for Exchange on page load
                GetMailboxValues(upn);
            }
        }

        //
        // Get the archiving properties from Exchange if the user was originally enabled for Exchange
        //
        function Archiving(upn) {
            $("#IsArchivingModified").prop('checked', true);
            $("#IsArchivingModified").val(true);

            if (originalEmailEnabled && mailboxRetrieved == false) { // Only get archiving data if user was enabled for Exchange on page load
                GetMailboxValues(upn);
            }
        }

        //
        // Gets the additional values from Exchange for the mailbox
        //
        function GetMailboxValues(upn) {
            if (mailboxRetrieved == false) {
                $("#blockui").block();
                $.getJSON(window.location.href + "/mailbox", function (data) {
                        $("#EmailFirst").val(data.mailbox.emailFirst);
                        $("#EmailDomain option").filter(function () {
                            return $(this).text() == data.mailbox.emailDomain;
                        }).prop('selected', true);

                        $("#EmailAliases").tokenfield("setTokens", data.mailbox.emailAliases);
                        $("#EmailSendOnBehalf").select2("val", data.mailbox.emailSendOnBehalf);

                        $("#EmailFullAccess").select2("val", data.mailbox.emailFullAccess);
                        $.each(data.mailbox.emailFullAccess, function (i, val) {
                            if ($("#EmailFullAccess option[value='" + val + "']").length > 0) {
                                $("#EmailFullAccessOriginal").val($("#EmailFullAccessOriginal").val() + val + ",");
                            }
                        });

                        $("#EmailSendAs").select2("val", data.mailbox.emailSendAs);
                        $.each(data.mailbox.emailSendAs, function (i, val) {
                            if ($("#EmailSendAs option[value='" + val + "']").length > 0) {
                                $("#EmailSendAsOriginal").val($("#EmailSendAsOriginal").val() + val + ",");
                            }
                        });

                        if (data.mailbox.litigationHoldEnabled == true) {
                            $("#LitigationHoldEnabled").click();
                        }
                        $("#LitigationHoldDate").val(data.mailbox.litigationHoldDate);
                        $("#RetentionComment").val(data.mailbox.retentionComment);
                        $("#RetentionUrl").val(data.mailbox.retentionUrl);
                    })
                    .done(function (data) {
                        mailboxRetrieved = true;
                    })
                    .fail(function (data) {
                        $('#submit').attr('disabled', 'disabled');
                        ShowError(data.responseJSON.error);
                    })
                    .always(function (data) {
                        $("#blockui").unblock();
                    });
            }
        }

        //
        // Setup the slider for the mailbox plan selected
        //
        function SetSlider(min, max, selectedValue, description) {
            if (min == 0) {
                $("#sliderDiv").hide();
                $("#SizeInMB").val("0");
            }
            else {
                $("#sliderDiv").show();
                $("#slider-range-min").slider({
                    range: "min",
                    value: selectedValue,
                    step: 256,
                    min: min,
                    max: max,
                    change: function (event, ui) {
                        $("#slider-range-min-amount").text(ui.value + "MB");
                        $("#SizeInMB").val(ui.value);
                    }
                });

                $("#slider-range-min-amount").text(selectedValue + "MB");
                $("#SizeInMB").val(selectedValue);
            }

            $("#mailboxPlanDescription").text(description)
        }

        //
        // Setup the email alias section
        //
        function SetupEmailTokenField()
        {
            $('#EmailAliases')
              .on('beforeCreateToken', function (e) {
                  var token = e.token.value.split('|');
                  e.token.value = token[1] || token[0];
                  e.token.label = token[1] ? token[0] + ' (' + token[1] + ')' : token[0];
              })
              .on('afterCreateToken', function (e) {
                  var re = /\S+@@\S+\.\S+/
                  var valid = re.test(e.token.value);
                  if (!valid) {
                      $(e.relatedTarget).addClass('invalid');
                  }
              })
              .on('beforeEditToken', function (e) {
                  if (e.token.label !== e.token.value) {
                      var label = e.token.label.split(' (');
                      e.token.value = label[0] + '|' + e.token.value;
                  }
              })
              .tokenfield();
        }
    </script>
}