@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel.Base.Database.Models

@{
    Layout = "__master.cshtml";
}

@section HEAD{
    <link href="~/Content/plugins/datatables-1.10.2/media/css/jquery.dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
    <style type="text/css">
            span.tab-space {
                padding-left: 0.5em;
            }
            td.details-control {
	            background: url('@Url.Content("~/Content/img/details_open.png")') no-repeat center center;
	            cursor: pointer;
            }
            tr.shown td.details-control {
	            background: url('@Url.Content("~/Content/img/details_close.png")') no-repeat center center;
            }
    </style>
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/plans/citrix">Citrix Plans</a></li>
        <li class="active">Desktop Group</li>
    </ol>

    <h1>@Model.Name</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>@Model.Name</dd>
                <dt>Published Name</dt>
                <dd>@Model.PublishedName</dd>
                <dt>Description</dt>
                <dd>@Model.Description</dd>
                <dt>Last Retrieved</dt>
                <dd>@Model.LastRetrieved.ToString()</dd>
            </dl>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4><i class="fa fa-desktop"></i> Desktops</h4>
            </div>
            <div class="panel-body">
                <table id="desktopsTable" cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover datatables">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>DNS Name</th>
                            <th>IP Address</th>
                            <th>In Maintenance Mode?</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var desktop in Model.Desktops)
                        {
                            <tr data-id="@CloudPanel.Base.DynamicHandlers.GetPropValue(desktop, "Uid")">
                                <td class="details-control"></td>
                                <td>@CloudPanel.Base.DynamicHandlers.GetPropValue(desktop, "MachineName")</td>
                                <td>@CloudPanel.Base.DynamicHandlers.GetPropValue(desktop, "DNSName")</td>
                                <td>@CloudPanel.Base.DynamicHandlers.GetPropValue(desktop, "IPAddress")</td>
                                <td>@(CloudPanel.Base.DynamicHandlers.GetPropValue(desktop, "InMaintenanceMode") == true ? "<span class='label label-warning'>Maintenance Mode</span>" : "")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form id="sendMessage" action="@Url.Content("~/plans/citrix/sendmessage")" method="post" autocomplete="off" data-parsley-validate="true">
    <div id="sendMessageModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Send Message</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="Title" name="Title" data-parsley-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Message Style</label>
                            <div class="col-sm-9">
                                <select id="MessageStyle" name="MessageStyle" class="form-control" data-parsley-required="true">
                                    <option value="Information">Information</option>
                                    <option value="Exclamation">Exclamation</option>
                                    <option value="Question">Question</option>
                                    <option value="Critical">Critical</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="focusedinput" class="col-sm-3 control-label">Message</label>
                            <div class="col-sm-9">
                                <textarea id="Message" name="Message" rows="2" cols="20" class="form-control" data-parsley-required="true"></textarea>
                                <input id="SessionKeys[]" name="SessionKeys[]" type="hidden" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section JAVASCRIPT{
    <script src="~/Content/plugins/datatables-1.10.2/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-1.10.2/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Content/plugins/moment/moment-with-locales.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AddFormHandlers();
            var desktopsTable = $("#desktopsTable").DataTable({ "ordering": false, "searching": false, "lengthChange": false, "paging": false });
            $('#desktopsTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = desktopsTable.row(tr);
                var uid = $(tr).data("id");

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    var table = '<table cellpadding="0" cellspacing="0" border="0" class="table table-striped datatables" id="' + uid + '">\
                                 <thead>\
                                    <tr>\
                                        <th align="center" width="10px"><input id="SelectAll" type="checkbox" onclick="javascript: CheckboxColDesktops('+ uid + ', this);" /></th>\
                                        <th>Login</th>\
                                        <th>Alt Login</th>\
                                        <th>Session State</th>\
                                        <th>Start Time</th>\
                                    </tr>\
                                 </thead>\
                                 <tbody>\
                                 </tbody>\
                                 </table>';

                    row.child(table).show();
                    tr.addClass("shown");

                    var table = $("#" + uid).DataTable({ "dom": "<'row'<'col-xs-6 toolbar'l><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>", "ordering": false, "paging": false });
                    $("div.toolbar").html('<div class="btn-group">\
                                              <a href="javascript:SendMessage('+uid+');" class="btn btn-primary btn-sm">Send Message</a>\
                                              <a href="javascript:LogOff('+uid+');" class="btn btn-primary btn-sm">Log Off</a>\
                                           </div>');

                    $("#" + uid).block();
                    $.getJSON(window.location.href + "/" + uid + "/sessions", function (data) {
                        $.each(data.data, function (k, v) {
                            var row = table.row.add(['<input name="CheckedUsers" type="checkbox" value="' + v.sessionKey + '"/>', v.userUPN, v.userName, v.sessionState, moment(v.startTime).format('lll')]).draw().node();
                            $(row).closest('tr').find('td:first').addClass("selector").addClass("text-center");
                        })
                    })
                    .fail(function (data) {
                        ShowError(data);
                    })
                    .always(function () {
                        $("#" + uid).unblock();
                    });
                }
            });
        });

        function CheckboxColDesktops(uid,source) {
            var table = $('#'+uid).DataTable();
            var cells = table
                        .cells(".selector")
                        .nodes();
            $(cells).find(":checkbox").prop("checked", $(source).is(":checked"));
        }

        function AddFormHandlers() {
            $("#sendMessage").submit(function (event) {
                event.preventDefault();
                var data = $("#sendMessage").serialize();

                $.blockUI();
                $.post($(this).attr('action'), data).done(function (data) {
                    $("#sendMessageModal").modal("hide");
                    ShowSuccess(data.success);
                }).fail(function (returnData) {
                    ShowError(returnData);
                }).always(function () {
                    $.unblockUI();
                });
            });
        }

        function SendMessage(tableId)
        {
            var id = "#" + tableId + " input[name=CheckedUsers]";
            var keys = [];
            $(id).each(function () {
                if ($(this).is(":checked")) {
                    keys.push($(this).val());
                }
            });
            $('#SessionKeys').val(keys.join(","));
            $('#sendMessageModal').modal('show')
        }

        function LogOff(tableId) {
            var id = "#" + tableId + " input[name=CheckedUsers]";
            var keys = [];
            $(id).each(function () {
                if ($(this).is(":checked")) {
                    keys.push($(this).val());
                }
            });

            swal({
                title: "Are you sure?",
                text: "Are you sure you want to log off the users?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, log off!",
                closeOnConfirm: false
            }, function () {
                $.post(window.location.href + "/logoff", { 'values': keys })
                 .fail(function (data) {
                     ShowError(data);
                 })
                 .done(function () {
                     swal("Logged Off", "Submitted command to log off users", "success");
                 })
                 .always(function () {

                 });
            });
        }
    </script>
}