@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{string selectedCompanyCode = CloudPanel.NancyContextHelpers.GetSelectedCompanyCode(this.RenderContext.Context);}

@{
    Layout = "__master.cshtml";
}

@section HEAD{
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-tokenfield/bootstrap-tokenfield.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-select2/select2.css" rel="stylesheet" />
    <link href="~/Content/js/jqueryui.min.css" rel="stylesheet" />
    <link href="~/Content/css/wait.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-datepicker/css/datepicker3.css" rel="stylesheet" />
    <style type="text/css">
        span.tab-space {
            padding-left: 0.5em;
        }
        .dropdown-menu {
            left: 0 !important;
        }
    </style>
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li><a href="~/company/@selectedCompanyCode/overview">{Company Name}</a></li>
        <li><a href="~/company/@selectedCompanyCode/users">Users</a></li>
        <li class="active">Edit User</li>
    </ol>

    <h1>Edit User</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="editUser" action="" method="post" data-parsley-validate>
                <input type="hidden" name="_method" value="PUT" />
                <div class="panel panel-primary">
                    <div class="panel-heading">Edit User</div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="domtabs">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tab-container tab-danger">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a href="#user" data-toggle="tab">User</a></li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Email <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#mailbox" data-toggle="tab" onclick="javascript: GetMailbox('@Model.UserPrincipalName');">Edit</a></li>
                                                        <li><a href="#litigationhold" data-toggle="tab" onclick="javascript: GetLitigationHold('@Model.UserPrincipalName');">Litigation Hold</a></li>
                                                        <li><a href="#">Archiving</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <div class="tab-content">

                                                <!-- USER SETTINGS -->
                                                <div class="tab-pane active" id="user">
                                                    <h3>General</h3><br />
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">First Name</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Firstname" name="Firstname" data-parsley-required="true">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Middle Name</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Middlename" name="Middlename" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Last Name</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Lastname" name="Lastname"  data-parsley-required="true">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Display Name</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="DisplayName" name="DisplayName" data-parsley-required="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <h3>Company Information</h3><br />
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Company</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Company" name="Company">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Department</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Department" name="Department">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Job Title</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="JobTitle" name="JobTitle">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Phone</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="TelephoneNumber" name="TelephoneNumber">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Fax</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Fax" name="Fax">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <h3>Peronsal Information</h3><br />
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Home Phone</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="HomePhone" name="HomePhone">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Mobile Phone</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="MobilePhone" name="MobilePhone">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Street</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="Street" name="Street">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">City</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="City" name="City">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">State</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="State" name="State">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Zip Code</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="PostalCode" name="PostalCode">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Country</label>
                                                            <div class="col-sm-6">
                                                                @CloudPanel.CPHtmlHelpers.GetCountries("")
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- MAILBOX SETTINGS -->
                                                <div class="tab-pane" id="mailbox">

                                                    <!-- Enable or Disable Email Toggle Switch -->
                                                    <div id="EmailDisabled" class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-3">
                                                                <label class="checkbox-inline">
                                                                    <input id="IsEmailEnabled" name="IsEmailEnabled" type="checkbox" value="false" /> Email Enabled
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr />

                                                    <!-- Email Is Enabled DIV -->
                                                    <div id="DivEmailEnabled" style="display: none">
                                                        <h3>Modify the user's email settings</h3><br />
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Plan</label>
                                                                <div class="col-sm-6">
                                                                    @CloudPanel.CPHtmlHelpers.GetMailboxPlans(0, selectedCompanyCode, "")
                                                                    <p id="mailboxPlanDescription"></p>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Email</label>
                                                                <div class="col-sm-6">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" id="EmailFirst" name="EmailFirst">
                                                                        <span class="input-group-addon">@@</span>
                                                                        @CloudPanel.CPHtmlHelpers.GetCompanyEmailDomains(selectedCompanyCode, "", "")
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="sliderDiv" class="form-group">
                                                                <label class="col-sm-3 control-label">Size</label>
                                                                <div class="col-sm-6" style="padding-top: 13px">
                                                                    <div id="slider-range-min" class="slider bg-yellow"></div>
                                                                </div>
                                                                <div class="col-sm-3">
                                                                    <p class="help-block">
                                                                        <div class="slider-value"> 
                                                                            <span class="slider-value" id="slider-range-min-amount"></span>
                                                                            <input id="SizeInMB" name="SizeInMB" type="hidden" />
                                                                        </div>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                        <h3>Email Aliases</h3><br />
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Email Aliases</label>
                                                                <div class="col-sm-6">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" id="EmailAliases" name="EmailAliases" data-limit="10" />
                                                                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                        <h3>Permissions</h3><br />
                                                        <div class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Full Access</label>
                                                                <div class="col-sm-6">
                                                                    <select id="EmailFullAccess" name="EmailFullAccess" style="width: 100%" class="populate" multiple>
                                                                        @if (Model.MailboxUsers != null) { 
                                                                            foreach (var u in Model.MailboxUsers)
                                                                            {
                                                                                <option value="@u.sAMAccountName">@u.DisplayName</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Send As</label>
                                                                <div class="col-sm-6">
                                                                    <select id="EmailSendAs" name="EmailSendAs" style="width: 100%" class="populate" multiple>
                                                                        @if (Model.MailboxUsers != null)
                                                                        {
                                                                            foreach (var u in Model.MailboxUsers)
                                                                            {
                                                                                <option value="@u.sAMAccountName">@u.DisplayName</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Send on Behalf</label>
                                                                <div class="col-sm-6">
                                                                    <select id="EmailSendOnBehalf" name="EmailSendOnBehalf" style="width: 100%" class="populate" multiple>
                                                                        @if (Model.MailboxUsers != null)
                                                                        {
                                                                            foreach (var u in Model.MailboxUsers)
                                                                            {
                                                                                <option value="@CloudPanel.Base.AD.LdapConverters.ToCanonicalName(u.DistinguishedName)">@u.DisplayName</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Litigation Hold -->
                                                <div id="litigationhold" class="tab-pane">
                                                    <h3>Litigation Hold</h3><br />
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label"></label>
                                                            <div class="col-sm-6">
                                                                <label class="checkbox-inline">
                                                                    <input id="LitigationHoldEnabled" name="LitigationHoldEnabled" type="checkbox" value="false" /> Litigation Hold Enabled
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">URL</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="RetentionUrl" name="RetentionUrl" data-parsley-type="url">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Date</label>
                                                            <div class="col-sm-6">
                                                                <div class="input-group date">
                                                                    <input type="text" class="form-control" id="LitigationHoldDate" name="LitigationHoldDate">
                                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label">Notes</label>
                                                            <div class="col-sm-6">
                                                                <textarea name="RetentionComment" id="RetentionComment" cols="50" rows="4" class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="btn-toolbar text-right">
                            <button class="btn-default btn" type="button" onclick="javascript: history.back()">Cancel</button>
                            <button class="btn-primary btn" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<input id="EmailChanged" name="EmailChanged" type="checkbox" value="false" hidden />
<input id="EmailLitHoldChanged" name="EmailLitHoldChanged" type="checkbox" value="false" hidden />
<input id="EmailArchivingChanged" name="EmailArchivingChanged" type="checkbox" value="false" hidden />

@section JAVASCRIPT{
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/form-tokenfield/bootstrap-tokenfield.min.js"></script>
    <script src="~/Content/plugins/form-select2/select2.min.js"></script>
    <script src="~/Content/plugins/form-toggle/toggle.min.js"></script>
    <script src="~/Content/plugins/blockUI/jquery.blockUI.js"></script>
    <script src="~/Content/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        var mailboxRetrieved = false;

        $(document).ready(function () {

            $("#MailboxPlanID").change(function () {
                var option = $("#MailboxPlanID option:selected");
                SetSlider(option.data("size"), option.data("maxsize"), option.data("size"), option.data("description"));
            });

            //var option = $("#MailboxPlanID option:selected");
            //SetSlider(option.data("size"), option.data("maxsize"), option.data("size"), option.data("description"));

            /* Email Aliases token field */
            SetupEmailTokenField();

            /* Multiple fields */
            $(".populate").select2({ width: 'resolve' });

            $("#IsEmailEnabled").change(function () {
                var chkBox = $("#IsEmailEnabled");

                if (chkBox.is(":checked")) {
                    $("#DivEmailEnabled").show();
                } else {
                    $("#DivEmailEnabled").hide();
                }
            });

            GetUser('@Model.UserPrincipalName');
        });

        function GetUser(upn) {
            $("#domtabs").block({message: $('#waitMessage')});
            $.getJSON("", function (data) {
                    $("#Firstname").val(data.user.firstname);
                    $("#Middlename").val(data.user.middlename);
                    $("#Lastname").val(data.user.lastname);
                    $("#DisplayName").val(data.user.displayName);
                    $("#Company").val(data.user.company);
                    $("#Department").val(data.user.department);
                    $("#JobTitle").val(data.user.jobTitle);
                    $("#TelephoneNumber").val(data.user.telephoneNumber);
                    $("#Fax").val(data.user.fax);
                    $("#HomePhone").val(data.user.homePhone);
                    $("#MobilePhone").val(data.user.mobilePhone);
                    $("#Street").val(data.user.street);
                    $("#City").val(data.user.city);
                    $("#State").val(data.user.state);
                    $("#PostalCode").val(data.user.postalCode);
                    $("#Country").select2("val", data.user.country);

                    if (data.user.mailboxPlan > 0) {
                        $("#IsEmailEnabled").click();
                        $("#MailboxPlanID").val(data.user.mailboxPlan);

                        var option = $("#MailboxPlanID option:selected");
                        if (data.user.additionalMB > 0) {
                            SetSlider(option.data("size"), option.data("maxsize"), option.data("size") + data.user.additionalMB, option.data("description"));                            
                        } else {
                            SetSlider(option.data("size"), option.data("maxsize"), option.data("size"), option.data("description"));
                        }
                    }

                    $('input[type="submit"]').removeAttr('disabled');
                })
                .done(function (data) {
                    console.log("done");
                })
                .fail(function (data) {
                    $('input[type="submit"]').attr('disabled', 'disabled');
                })
                .always(function (data) {
                    $("#domtabs").unblock();
                });
        }

        function GetMailbox(upn) {
            if (mailboxRetrieved == false) {
                $("#domtabs").block({ message: $('#waitMessage') });
                $.getJSON(window.location.href + "/mailbox", function (data) {
                    $("#EmailFirst").val(data.mailbox.emailFirst);
                    $("#EmailAliases").tokenfield("setTokens", data.mailbox.emailAliases);
                    $("#EmailFullAccess").select2("val", data.mailbox.emailFullAccess);
                    $("#EmailSendAs").select2("val", data.mailbox.emailSendAs);
                    $("#EmailSendOnBehalf").select2("val", data.mailbox.emailSendOnBehalf);

                    if (data.mailbox.litigationHoldEnabled == true) {
                        $("#LitigationHoldEnabled").click();
                    }
                    $("#LitigationHoldDate").val(data.mailbox.litigationHoldDate);
                    $("#RetentionComment").val(data.mailbox.retentionComment);
                    $("#RetentionUrl").val(data.mailbox.retentionUrl);

                    $("#DomainID option").filter(function () {
                        return $(this).text() == data.mailbox.emailDomain;
                    }).prop('selected', true);

                    mailboxRetrieved = true;

                    $('input[type="submit"]').removeAttr('disabled');
                })
                    .done(function (data) {
                        console.log("done");
                    })
                    .fail(function (data) {
                        $('input[type="submit"]').attr('disabled', 'disabled');
                    })
                    .always(function (data) {
                        $("#domtabs").unblock();
                    });
            }
        }

        function GetLitigationHold(upn)
        {
            $("#LitigationHoldDate").datepicker({ startDate: "today" });

            if (mailboxRetrieved == false) {
                GetMailbox(upn);
            }
        }

        function SetSlider(min, max, selectedValue, description) {
            if (min == 0) {
                $("#sliderDiv").hide();
                $("#SizeInMB").val("0");
            }
            else {
                $("#sliderDiv").show();
                $("#slider-range-min").slider({
                    range: "min",
                    value: selectedValue,
                    step: 256,
                    min: min,
                    max: max,
                    change: function (event, ui) {
                        $("#slider-range-min-amount").text(ui.value + "MB");
                        $("#SizeInMB").val(ui.value);
                    }
                });

                $("#slider-range-min-amount").text(selectedValue + "MB");
                $("#SizeInMB").val(selectedValue);
            }

            $("#mailboxPlanDescription").text(description)
        }

        function SetupEmailTokenField()
        {
            $('#EmailAliases')
              .on('beforeCreateToken', function (e) {
                  var token = e.token.value.split('|');
                  e.token.value = token[1] || token[0];
                  e.token.label = token[1] ? token[0] + ' (' + token[1] + ')' : token[0];
              })
              .on('afterCreateToken', function (e) {
                  // Über-simplistic e-mail validation
                  var re = /\S+@@\S+\.\S+/
                  var valid = re.test(e.token.value);
                  if (!valid) {
                      $(e.relatedTarget).addClass('invalid');
                  }
              })
              .on('beforeEditToken', function (e) {
                  if (e.token.label !== e.token.value) {
                      var label = e.token.label.split(' (');
                      e.token.value = label[0] + '|' + e.token.value;
                  }
              })
              .tokenfield();
        }
    </script>
}