@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using CloudPanel.Base.Config

@{
    Layout = "__master.cshtml";
}

@section HEAD{
    <link href="~/Content/plugins/form-parsley-new/parsley.css" rel="stylesheet" />
    <link href="~/Content/plugins/form-select2/select2.css" rel="stylesheet" />
}

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="~/dashboard">Dashboard</a></li>
        <li>Admin</li>
        <li class="active">Settings</li>
    </ol>

    <h1>Settings</h1>
</div>

<form id="form" autocomplete="off" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Modify Settings</div>
                    <div class="panel-body">
                        <div class="tab-container tab-right tab-success">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#ad" data-toggle="tab">Active Directory</a></li>
                                <li><a href="#features" data-toggle="tab">Features</a></li>
                                <li><a href="#exchange" data-toggle="tab">Exchange</a></li>
                                <li><a href="#citrix" data-toggle="tab">Citrix</a></li>
                                <li><a href="#notifications" data-toggle="tab">Notifications</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="ad">
                                    <div class="form-horizontal">
                                        <h2>General</h2>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Hoster Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="CompanyName" name="CompanyName" value="@Settings.CompanyName" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The name of your company (the hoster). Do not change this value once it is set without contacting support." class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Hosting OU</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="HostingOU" name="HostingOU" value="@Settings.HostingOU" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The distinguished name of the hosting ou. Example: OU=Hosting,DC=lab,DC=local" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Users OU</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="UsersOU" name="UsersOU" value="@Settings.UsersOU">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="If you want to place all users in a different OU instead of the parent company OU then type the name of the OU here. Example: Users" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Primary DC</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="PrimaryDC" name="PrimaryDC" value="@Settings.PrimaryDC" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The FQDN of the primary domain controller CloudPanel uses to communicate" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Username</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="Username" name="Username" value="@Settings.Username" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Username in DOMAIN\Username format of a user that has rights to Create,Modify,Delete objects in Active Directory and Exchange" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Password</label>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control" id="Password" name="Password" data-parsley-required="true">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Super Admins</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="SuperAdmins" name="SuperAdmins" value="@Settings.SuperAdminsAsString" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Comma seperated list of security groups in Active Directory that will have root access to CloudPanel (members of security groups). Example: Domain Admins,Administrators" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Billing Admins</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="BillingAdmins" name="BillingAdmins" value="@Settings.BillingAdminsAsString" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Comma seperated list of security groups in Active Directory that will have access to billing information in CloudPanel (members of security groups). Example: Domain Admins,Administrators" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Salt Key</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="SaltKey" name="SaltKey" value="@Settings.SaltKey" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Key to use when encrypting passwords. If you change this value then all passwords will be invalid and will need to be resaved." class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="features">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Enable Resellers</label>
                                            <div class="col-sm-6">
                                                <div style="padding-top: 8px">
                                                    <input id="ResellersEnabled" name="ResellersEnabled" type="checkbox" @(Settings.ResellersEnabled == true ? "value='true' checked" : "value='false'") />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Exchange Hosting</label>
                                            <div class="col-sm-6">
                                                <div style="padding-top: 8px">
                                                    <input id="ExchangeModule" name="ExchangeModule" type="checkbox" @(Settings.ExchangeModule == true ? "value='true' checked" : "value='false'") />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Citrix Module</label>
                                            <div class="col-sm-6">
                                                <div style="padding-top: 8px">
                                                    <input id="CitrixModule" name="CitrixModule" type="checkbox" @(Settings.CitrixModule == true ? "value='true' checked" : "value='false'") />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="exchange">
                                    <div class="form-horizontal">
                                        <h2>General</h2>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Server</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeServer" name="ExchangeServer" value="@Settings.ExchangeServer">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The FQDN or ip address of the Exchange server in which CloudPanel communicates with (can be pointed to load balancer)" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Public Folder Server</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangePFServer" name="ExchangePFServer" value="@Settings.ExchangePFServer">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The FQDN or ip address of the Exchange server in which CloudPanel communicates with when working with public folders (typically the mailbox server)" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Databases</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeDatabases" name="ExchangeDatabases" value="@Settings.ExchangeDatabasesAsString">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Comma seperated list of your Exchange databases. This field is optional and only used to allow the super admin to manually choose the database to place mailboxes in. You can click the refresh button on the right to pull the current list of databases from Exchange" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                    <label>
                                                        <a href="javascript:;" onclick="javascript: GetExchangeDatabases();"><i class="fa fa-refresh"></i></a>
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Max Email Aliases</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeMaxAliases" name="ExchangeMaxAliases" value="@Settings.ExchangeMaxAliases" data-parsley-type="number">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The maximum number of email aliases objects can have (groups, users, etc)." class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Version</label>
                                            <div class="col-sm-6">
                                                <select id="ExchangeVersion" name="ExchangeVersion" class="form-control">
                                                    <option value="20135" @(Settings.ExchangeVersion == 20135 ? "selected" : "")>2013 CU5</option>
                                                    <option value="2013" @(Settings.ExchangeVersion == 2013 ? "selected" : "")>2013</option>
                                                    <option value="2010" @(Settings.ExchangeVersion == 2010 ? "selected" : "")>2010</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The version of your Exchange environment. This is important to match because some commands are different between Exchange versions" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Connection Type</label>
                                            <div class="col-sm-6">
                                                <select id="ExchangeConnection" name="ExchangeConnection" class="form-control">
                                                    <option value="Basic" @(Settings.ExchangeConnection.Equals("Basic") ? "selected" : "")>Basic Authentication</option>
                                                    <option value="Kerberos" @(Settings.ExchangeConnection.Equals("Kerberos") ? "selected" : "")>Kerberos Authentication</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Type of authentication CloudPanel uses to communicate with Exchange. Typically it is Basic Authentication" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Enable Public Folders</label>
                                            <div class="col-sm-6">
                                                <div style="padding-top: 8px">
                                                    <input id="ExchangePFEnabled" name="ExchangePFEnabled" type="checkbox" @(Settings.ExchangePFEnabled == true ? "value='true' checked" : "value='false'") />
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="If you want to offer public folders with Exchange or not" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>

                                        <hr />
                                        <h2>
                                            Advanced
                                            <a href="javascript:;" onclick="javascript: SetExchangeDefaults();">
                                                <span data-toggle="tooltip" data-original-title="Reset to Defaults" class="tooltip-ex">
                                                    <i class="fa fa-times"></i>
                                                </span>
                                            </a>
                                        </h2>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Role Assignment</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeRoleAssignment" name="ExchangeRoleAssignment" value="@Settings.ExchangeRoleAssignment" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Assignment policy to assign to the mailbox when enabled" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Groups OU Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeGroupsOU" name="ExchangeGroupsOU" value="@Settings.ExchangeGroupsOU" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The OU to place Exchange groups in" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Contacts OU Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeContactsOU" name="ExchangeContactsOU" value="@Settings.ExchangeContactsOU" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The OU to place Exchange contacts in" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Rooms OU Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeRoomsOU" name="ExchangeRoomsOU" value="@Settings.ExchangeRoomsOU" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The OU to place Exchange room mailboxes in" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Resource OU Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeResourceOU" name="ExchangeResourceOU" value="@Settings.ExchangeResourceOU" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The OU to place other Exchange resources in (like shared mailboxes)" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">GAL Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeGALName" name="ExchangeGALName" value="@Settings.ExchangeGALName" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The format for the global address list (Must include {0} placeholder)" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">ABP Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeABPName" name="ExchangeABPName" value="@Settings.ExchangeABPName" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The format for the address book policy (Must include {0} placeholder)" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">OAL Name</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeOALName" name="ExchangeOALName" value="@Settings.ExchangeOALName" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The format for the offline address book (Must include {0} placeholder)" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Users Address List</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeUSERSName" name="ExchangeUSERSName" value="@Settings.ExchangeUSERSName" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The format for the users address list (Must include {0} placeholder)" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Contacts Address List</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeCONTACTSName" name="ExchangeCONTACTSName" value="@Settings.ExchangeCONTACTSName" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The format for the contacts address list (Must include {0} placeholder)" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Rooms Address List</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeROOMSName" name="ExchangeROOMSName" value="@Settings.ExchangeROOMSName" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The format for the rooms address list (Must include {0} placeholder)" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Groups Address List</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ExchangeGROUPSName" name="ExchangeGROUPSName" value="@Settings.ExchangeGROUPSName" data-parsley-required="true">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The format for the groups address list (Must include {0} placeholder)" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="citrix" class="tab-pane">
                                    <div class="form-horizontal">
                                        <h2>General</h2>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Applications OU</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="ApplicationsOU" name="ApplicationsOU" value="@Settings.ApplicationsOUName">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The OU to place Citrix security groups for applications in. Example: Applications" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                    </div>
                                </div>
                                <div id="notifications" class="tab-pane">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label"></label>
                                            <div class="col-sm-6">
                                                <div style="padding-top: 8px">
                                                    <input id="SNEnabled" name="SNEnabled" type="checkbox" @(Settings.SNEnabled == true ? "value='true' checked" : "value='false'") /> Enable Support Notifications
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Enables support notifications for problems that occur within CloudPanel." class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">From Address</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="SNFrom" name="SNFrom" value="@Settings.SNFrom" data-parsley-type="email">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="The email address that emails should appear to be coming from." class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">To Address</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="SNTo" name="SNTo" value="@Settings.SNTo" data-parsley-type="email">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Support notifications will be emailed to this address" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>

                                        <hr />

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Mail Server</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="SNServer" name="SNServer" value="@Settings.SNServer">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Enter the server IP or FQDN of the mail server to use for notifications" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Mail Port</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="SNPort" name="SNPort" value="@Settings.SNPort" data-parsley-type="number">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Port number for the mail server (usually port 25)" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Username</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="SNUsername" name="SNUsername" value="@Settings.SNUsername">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Username used to authenticate against the mail server. You can leave this blank if authentication isn't required" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Password</label>
                                            <div class="col-sm-6">
                                                <input type="password" class="form-control" id="SNPassword" name="SNPassword">
                                            </div>
                                            <div class="col-sm-3">
                                                <p class="help-block">
                                                    <span data-toggle="tooltip" data-original-title="Password used to authenticate against the mail server. You can leave this blank if authentication isn't required" class="tooltip-ex">
                                                        <i class="fa fa-question-circle"></i>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="btn-toolbar text-right">
                                <button class="btn-primary btn" type="button" onclick="javascript: SubmitForm();">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section JAVASCRIPT{
    <script src="~/Content/plugins/form-parsley-new/parsley.min.js"></script>
    <script src="~/Content/plugins/form-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Content/plugins/form-select2/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#form").parsley();
        });

        function GetExchangeDatabases()
        {
            $(".panel").block();
            $.getJSON("@ResolveUrl("~/admin/settings/exchange/databases")", function (data) {
                var input = $("#ExchangeDatabases");
                input.val("");

                $.each(data.databases, function (index) {
                    input.val(input.val() + data.databases[index].identity + ",");
                });
            })
            .fail(function (data) {
                ShowError(data.responseJSON.error);
            })
            .always(function (data) {
                $(".panel").unblock();
            });
        }

        function SetExchangeDefaults()
        {
            $("#ExchangeRoleAssignment").val("Alternate Assignment Policy");
            $("#ExchangeGALName").val("{0} GAL");
            $("#ExchangeABPName").val("{0} ABP");
            $("#ExchangeOALName").val("{0} OAL");
            $("#ExchangeUSERSName").val("{0} - All Users");
            $("#ExchangeCONTACTSName").val("{0} - All Contacts");
            $("#ExchangeROOMSName").val("{0} - All Rooms");
            $("#ExchangeGROUPSName").val("{0} - All Groups");
            $("#ExchangeGroupsOU").val("Exchange");
            $("#ExchangeContactsOU").val("Exchange");
            $("#ExchangeRoomsOU").val("Exchange");
            $("#ExchangeResourceOU").val("Exchange");
        }

        function SubmitForm()
        {
            if ($("#form").parsley().validate())
            {
                var data = $("#form").serialize();

                $(".panel").block();
                $.post("", data).done(function (returnData) {
                    ShowSuccess(returnData.success);
                }).fail(function (returnData) {
                    ShowError(returnData.responseJSON.error);
                }).always(function () {
                    $(".panel").unblock();
                });
            }
            else
                ShowWarning("You are missing some required fields!");
        }
    </script>
}